<h1>Posts</h1>

<table>
  <tr class="hd">
    <th id="nm">Name</th>
    <th id="tt">Title</th>
    <th id="cc">Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr class="ed">
    <td><%= post.name %></td>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, confirm: 'Are you sure you want to delete this post?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %> |

<%= link_to 'Back', sign_up_path %> |