<title>Sign up</title>
<h1>اشتراك</h1>
<%= error_messages_for(@user) %>
<div>
  <%= form_for @user do |f| %>
    
  <p>
    <%= f.label :الاسم %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
   <p>
    <label>رقم الهاتف</label> <br />
    <%= f.text_field :phone_Nr %>
  </p>
   <p>
    <%= f.label :عنوان%><br />
    <%= f.text_field :address %>
  </p>
   <p>
    <label>اسم المستخدم</label><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <label>كلمة السر</label><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <label>تأكيد كلمة المرور</label><br />
    <%= f.password_field :password_confirmation %>
  </p>
   <button class="btn btn-success" type="submit">إنضم</button>

  <%end%>
</div>