<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<%= stylesheet_link_tag  "stylelogin", :media => "all" %>
<body>
  <div class="container">
    <section class="register">
     <h1>اشتراك</h1>
     <%= error_messages_for(@user) %> 
     <%= form_for @user, :validate => true do |f| %>
      <div class="reg_section personal_info">
      <h3>اسم</h3>
       <%= f.text_field :name %>

      <h3>Email</h3>
      <%= f.text_field :email %>

      <h3>رقم الهاتف</h3>
      <%= f.text_field :phone_Nr %>
    
      <h3>عنوان</h3>
      <%= f.text_field :address %>
       
      <h3>اسم المستخدم</h3>
      <%= f.text_field :username %>
     

      <div class="reg_section password">
      <h3>كلمة السر</h3>
      <%= f.password_field :password %>

      <h3>تأكيد كلمة المرور</h3>
      <%= f.password_field :password_confirmation %>

      </div>

      <button class="btn btn-success" type="submit">إنضم</button>
    <% end %>

    </section>
  </div>

</body>