<!DOCTYPE html >
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<html>
<head>
<title>MME7 Admin</title>
 <%= stylesheet_link_tag "application","style", "navi", :media=>"all" %>
 <%= javascript_include_tag "application","highcharts", "highcharts_init" %>
 <%= csrf_meta_tags %>
<script type="text/javascript">
$(function(){
	$(".box .h_title").not(this).next("ul").hide("normal");
	$(".box .h_title").not(this).next("#home").show("normal");
	$(".box").children(".h_title").click( function() { $(this).next("ul").slideToggle(); });
});
</script>
</head>
<body>
<div class="wrap">
	<div id="header">
		<div id="top">
			<div class="left">
				<p>Welcome, <strong> <% if current_user %><%= current_user.username %><% end %></strong> [<a href=""><%= link_to "خروج", log_out_path %></a>]</p>
			</div>
		</div>

	<div id="content">
		<div id="sidebar">
			<div class="box">
				<div class="h_title">&#8250; لوحة التحكم</div>
				<ul id="home">
					<li class="b1"><a class="icon view_page" href="">الصفحة الرئيسية</a></li>
					<li class="b2"><a class="icon report" href="">تقارير</a></li>
				</ul>
			</div>
			<div class="box">
				<div class="h_title">&#8250; المستخدمين</div>
				<ul>
					<li class="b1"><a class="icon users" href="">جميع المستخدمين</a></li>
					<li class="b2"><a class="icon add_user" href="">إضافة مستخدم جديد</a></li>
				</ul>
			</div>
			<div class="box">
				<div class="h_title">&#8250; المجموعات</div>
				<ul>
					<li class="b1"><a class="icon page" href="">جميع المجموعات</a></li>
					<li class="b2"><a class="icon add_page" href="">مجموعة جديدة</a></li>
					<li class="b2"><a class="icon category" href="">group Hierarchy </a></li>
				</ul>
			</div>
			<div class="box">
				<div class="h_title">&#8250; community</div>
				<ul>
					<li class="b1"><a class="icon page" href="">view cmmunities</a></li>
					<li class="b2"><a class="icon add_page" href="">new community</a></li>
				</ul>
			</div>
			<div class="box">
				<div class="h_title">&#8250; مشاريع</div>
				<ul>
					<li class="b1"><a class="icon page" href="">جميع المشاريع</a></li>
					<li class="b2"><a class="icon add_page" href="">مشروع جديد</a></li>
				</ul>
			</div>
	    </div>
	<div id="main">
    <div><%= yield %></div>
    </div>
	<div id="footer">
	</div>
</div>
</body>
</html>