<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<html dir="rtl">
<head>
<title>MME7</title>
 <%= stylesheet_link_tag "application", "token-input" , "token-input-facebook", :media=>"all" %>
 <%= javascript_include_tag "application", "jquery.tokeninput" %>
  <%= csrf_meta_tags %>
</head>
<body id = "background">
  <div class="navbar navbar">
  <div class="navbar-inner kay">    
      <div class="nav-collapse">
        <ul class="nav pull-right" >
          <% if current_user %>
          <li id="projects" class="notification-menu-item first-item"><a>اشعارات</a>
          <span id="count" class="notification-bubble" style="background-color: rgb(245, 108, 126); display: inline;"><%= notification_count(current_user.id) %></span></li><%end%>
          <li class="notification-menu-item "><%= link_to "الاتصال بنا" %></li>
          <li class="notification-menu-item "><%= link_to "مجموعات" %></li>
          <li class="notification-menu-item "><%= link_to "المجتمعات" %></li>
          <li class="notification-menu-item " id="not"><%= link_to ("امشاريع") %></li>
          <li class="notification-menu-item ">
          <%= link_to({:controller=>'carousels', :action=>'index'}) do %>
          <i class="icon-home"></i> الصفحة الرئيسية
          <% end %>

          </li>
          <li  class="text-info">
        </ul>
        <ul class="nav pull-left">
            <% if current_user %>
            <li><%= link_to "خروج", log_out_path %></li>
            <% else %>
            <li><%= link_to "اشتراك", sign_up_path , :id=>"signup" %></li><li><%= link_to " دخول", log_in_path , :id=>"signin" %>
            </li>
            <% end %>
          </li>
        </ul>
      </div>
  </div>
</div>

<div class="container">

  <div class="row"></div>
  <div class="span9"> </div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<div class="body">
<%= yield %>
</div>

</div>
  

</body>
</html>