<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html dir="rtl">
<head>
    <title></title>
     <%= stylesheet_link_tag  "application", "style_light", :media => "all" %>
     <%= javascript_include_tag  "application" , "jquery-ui-1.8.14.custom.min.js" , "ttw-notification-menu" , "ttw-notification-menu.min" %>
   <style type="text/css">
        .tooltip {
            width: 250px;
            font-size: 11px;
            font-family: Arial, sans-serif;
            background: #444;
            border: 1px solid #090909;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            position: absolute;
            z-index: 1;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            color:#fff;
            padding:12px 24px;
            line-height:18px;
        }

        .tooltip:after {
            content: '';
            position: absolute;
            border-color: transparent  #444 transparent transparent;
            border-style: solid;
            border-width: 10px;
            height: 0;
            width: 0;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -10px;
            margin-left: -20px;
        }

        .tooltip:before {
            content: '';
            position: absolute;
            border-color:   transparent #090909 transparent transparent;
            border-style: solid;
            border-width: 10px;
            height: 0;
            width: 0;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -10px;
            margin-left: -20px;
        }
        
        body{
            background: transparent url(images/bg.png) repeat 0 0 scroll;
        }

        .ttw-notification-menu{
                width: 276px;
        }
</style>
</head>
<body>

<ul class="ttw-notification-menu">
    <li id="projects" class="notification-menu-item first-item"><a href="index.html#">Projects</a>
      <span id="count" class="notification-bubble" style="background-color: rgb(245, 108, 126); display: inline;"><%= notification_count(1) %></span></li>
    <li id="tasks" class="notification-menu-item"><a href="index.html#">Tasks</a></li>
    <li id="messages" class="notification-menu-item"><a href="index.html#" >Messages</a></li>
    <li id="clients" class="notification-menu-item last-item">
        <a href="index.html#">Clients</a>
    </li>
</ul>

<div id="current-user" data-id="1">
<div id="notify"  class="notification-list-wrapper" style="top: 136px; left: 447px; display:block; opacity: 1;">
        <span><%= link_to("all",{:controller => 'nots', :action=>'all'} , :class=>"pull" , :id=>'all-link') %></span>
        <div id = "notification">
       <% @nots = notifications %>
       <%= render(:partial => "nots/notification" , :locals => {:@nots=> @nots})%>
        </div>
</div>
<div class="container">
  <%= yield %>
</div>
</div>

</body>
</html>