<!DOCTYPE html>
<html dir="rtl">
<head>
  <title>MME7</title>

 <%= stylesheet_link_tag "application", "token-input" , "token-input-facebook" %>
 <%= javascript_include_tag "application", "jquery.tokeninput" %>


  <%= csrf_meta_tags %>
</head>
<body id = "background">
	<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Home"%></li>
          <li><%= link_to "About Us" %></li>
          <li><%= link_to "Contact Us" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
	<div class="row"></div>
	<div class="span9"> 
    <%= yield %>
  </div>


</div>
<div>
</div>
</body>
</html>