<!DOCTYPE html>
<html dir="rtl">
<head>
  <title>MME7</title>
 <%= stylesheet_link_tag "application", "token-input" , "token-input-facebook","http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css" %>
    <%= javascript_include_tag "application", "jquery.tokeninput","http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body id = "background">
	<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Home"%></li>
          <li><%= link_to "About Us" %></li>
          <li><%= link_to "Contact Us" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
	<div class="row"></div>
	<div class="span9"> 
    <%= yield %>
  </div>
	

</div>
<div>
</div>
</body>
</html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
  <title><%= yield :name %></title>
  <title><%= yield :start_date %></title>
  <title><%= yield :end_date %></title>
  <title><%= yield :descritption %></title>
</head>