<!DOCTYPE html>
<html dir="rtl">
<head>
  <title>MME7</title>
 
 <%= stylesheet_link_tag "application", "style_light" , "token-input-facebook", 'gmaps4rails', :media => "all" %>
<%= javascript_include_tag  "jquery.tokeninput" ,"rails.validations", "jquery-ui-1.8.14.custom.min.js" , "ttw-notification-menu" , "ttw-notification-menu.min" %>

  <%= csrf_meta_tags %>
  <%= yield :head %>
 <script language="javascript" src="jquery.js"></script>  
<script language="javascript" src="jquery.dimensions.js"></script>  
</head>
<body id = "background">
  <div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      
      <div class="nav-collapse">
        <ul class="nav">

          <li  class="text-info"><%= link_to "Home"%></li>
          <li class="text-info"><%= link_to "About Us" %></li>
          <li class="text-info"><%= link_to "الاتصال بنا" %></li>
          <li class="text-info"><%= link_to "مجموعات" %></li>
          <li class="text-info"><%= link_to "المجتمعات" %></li>
          <li class="text-info"><%= link_to "امشاريع" %></li>
          <li  class="text-info"><% if current_user %><%= current_user.username %>.<li class="offset10"><%= link_to "خروج", log_out_path %></li><% else %>
            <%= link_to "اشتراك", sign_up_path , :id=>"signup" %> </li><li><%= link_to " دخول", log_in_path , :id=>"signin" %><% end %>

        </ul>
      </div>
    </div>
  </div>
</div>

<% if current_user %>
<ul class="ttw-notification-menu">
    <li id="projects" class="notification-menu-item first-item"><a>Projects</a>
      <span id="count" class="notification-bubble" style="background-color: rgb(245, 108, 126); display: inline;"><%= notification_count(current_user.id) %></span></li>
    <li id="tasks" class="notification-menu-item"><a href="index.html#">Tasks</a></li>
    <li id="messages" class="notification-menu-item"><a href="index.html#" >Messages</a></li>
    <li id="clients" class="notification-menu-item last-item">
        <a href="index.html#">Clients</a>
    </li>
</ul>
<%  user =  current_user.id %>
<div id="current-user" data-id="<%= user %>">
<div id="notify"  class="notification-list-wrapper" style="top: 90px; left: 800px; display:none; opacity: 1;">
        <span><%= link_to("all",{:controller => 'notifications', :action=>'all'} , :class=>"pull" , :id=>'all-link') %></span>
        <div id = "notification">
       <% @nots = notifications %>
       <%= render(:partial => "notifications/notification" , :locals => {:@nots=> @nots})%>
        </div>
</div>

<% end %>

<div class="container">

  <div class="row"></div>
  <div class="span9"> 
 
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<div id="style">
<%= yield %>
</div>
  </div>
  

</body>
<footer>
  <%= yield :scripts %>
</footer>
</html>

