<%= render(:partial => 'shared/error_messages' , :locals => {:object => @receipt}) %>
<div> 
	<br>
	<br>
	<h2 class='title'>تعديل الأيصال</h2>
	<%= form_for(:receipt, :url=>{:action=>'update' , :id => @receipt.id , :project_id=> @project_id}) do |f| %>
<br>
<br>
<br>
<br>
<br>
<br>
<table class="table body">

	<tr>
		<th><%= f.label(:Name ,"إسم")%></th>
			<td><%= f.text_field(:name)%></td>
	</tr>
	<tr>
		<th><%= f.label(:Attachment , "الأيصال")%></th>
			<td><%= f.file_field(:image)%></td>
	</tr>
</table>
</br>
	<p class='btn btn-small'>
	<%= f.submit ("إحفظ")%>
	</p>
<% end %>
</div>

