<%= render(:partial => 'shared/error_messages' , :locals => {:object => @receipt}) %>
<div> 
	<h2>أنشاء إيصال</h2>
	<%= form_for(:receipt, :url=>{:action=>'create' , :id => @id}) do |f| %>
	<table>

<tr>
<th><%= f.label(:Name ,"إسم")%></th>
<td><%= f.text_field(:name)%></td>
</tr>
<tr>
<th><%= f.label(:Attachment ,"إيصال")%></th>
<td><%= f.file_field(:image)%></td>
</tr>
</br>
<tr> 
<td><%= f.hidden_field :budget_component_id , :value=> @id %></td>
</tr>
</table>
</br>
<p>
<td><%= f.submit ("إحفظ") %></td>
</p>
<% end %>
</div>
