<%= render(:partial => 'shared/error_messages' , :locals => {:object => @receipt}) %>
<div> 
	<h2 class='title'>أنشاء إيصال</h2>
	<%= form_for(:receipt, :url=>{:action=>'create' , :id => @id , :project_id=> @project_id}) do |f| %>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<table class="table body">

<tr>
<th><%= f.label(:Name ,"إسم")%></th>
<td><%= f.text_field(:name)%></td>
</tr>
<tr>
<th><%= f.label(:Attachment ,"إيصال")%></th>
<td><%= f.file_field(:image)%></td>
</tr>
</br>

<%= f.hidden_field :budget_component_id , :value=> @id %>

</table>
</br>
<p class='btn btn-small'>
<%= f.submit ("إحفظ") %>
</p>
<% end %>
</div>
