  <table >
    <% @postlist.each do |post| %>
    <tr>
     <td> <%= post.content %></td>
      <td>
       
       
        <% if isPostCreator(5,post.id) %>
        <%= link_to("Edit", {:controller => 'posts',:action => 'editPost', :id => post.id, :group_id => params[:id]}, :class => 'action editPost' ) %>

<%= form_for(:post, :url=>{:controller => 'posts',:action=>'updatePost', :post_id=>post.id, :group_id => @group_id}) do |f| %>
  
  <%= error_messages_for(@post) %>

<table class="table table-striped">
    <tr>
      <th><%= f.label(:content, "Content")%></th>
      <td><%= f.text_field(:content) %></td>
       </tr>


  <table class="table table-striped">

  <div class="form-buttons">
    <%= submit_tag("Update Post") %>
  </div>

  <% end %>
       




        <% end %>


        
      </td>
    </tr>
    <% end %>
  </table>