<div class="post edit">
	<h2>Edit Post</h2>
	

	<%= form_for(:post, :url=>{:action=>'updatePost', :post_id=> params[:post_id], :group_id => params[:id]}) do |f| %>
	
	<%= error_messages_for(@post) %>


	<table summary = "The Post">
		
		<tr>
			<th><%= f.label(:content, "Content")%></th>
			<td><%= f.text_field(:content) %></td>
       </tr>


	</table>
	

	<div class="form-buttons">
		<%= submit_tag("Update Post") %>
	</div>

	<% end %>

</div>
