<% if current_user %>
  <% if isPostCreator(current_user.id,@post.id ) == true %>
   <%= link_to("x", {:controller => 'posts', :action => 'destroyPost', :group_id => @group.id, :post_id => @post.id },:confirm => 'هل انتى متأكد') %>   
      <i id="posteach"><%= best_in_place @post, :content, :path => {:controller => 'posts', :action=>'updatePost', :id=>@post.id,:group_id => @group.id} %></i>
      <i id="username" class="under">:<%= @post.name %></i></br>
      <i dir="ltr" id="time" class="pull-left"><%= time_ago_in_words(@post.created_at)%><i id="time"> ago</i></i>
  </p>
  

  <%else%>

    <%= @post.content %>  
    <i id="username" class="under">:<%= @post.name %></i></br>
    <i dir="ltr" id="time" class="pull-left"><%= time_ago_in_words(@post.created_at)%><i id="time"> ago</i></i>
<%end%>
  <%else%>

    <%= @post.content %>  
    <i id="username" class="under">:<%= @post.name %></i></br>
    <i dir="ltr" id="time" class="pull-left"><%= time_ago_in_words(@post.created_at)%><i id="time"> ago</i></i>
<%end%>
  <%= render :partial => "groups/listcomments", :locals => {:post => @post , :@group=>@group , :position=> 1} %>
    </b>
    </b>    
  </div>
  </div>
  </div>
  </div>