<%= flash[:notice]%>
<%= link_to("Back to group page", {:controller => 'projects', :action => 'show', :id => @project_id}, 
:class => 'action show') %>





<div class = "Add Members">
	<h2>Select Members</h2>
<h2>id <%= @project_id%></h2>
  <table >
    <tr>
      <th>select form the following members</th>
    </tr>
     <% @users.each do |u| %>
    <tr>
     <td> <%= u.name %></td>
    </tr>
     <td>
        <%= link_to("Add member", {:action => 'addMembers2', :user_id => u.id, :project_id => @project_id}, :confirm => "Are you sure you want to add this member?", :class => 'action delete') %>
     </td>
    <% end %>
  </table>
</div>
