 <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<div class="aligncenter">
    <h1><%= @project.name %></h1> 
</div> 
<div class = "alignleft">
 <div id="sidebar" class = "pull-left">
      <td>
      <div id="floatMenu" class = "pull-left">  
         <ul> 
            <% if isProjectCreator(current_user.id, @project.id)%> 
            <li><%= link_to("صحفة المشروع", {:controller => 'projects',:action =>'show',:id=> @project.id}) %></li>
             <li><%= link_to("تعديل المشروع", {:controller => 'projects', :action => 'editProject', :id=> @project.id}) %></li> 
             <% end %>  
            <li><%= link_to("قائمة المشاريع", {:controller => 'projects', :action => 'listProjects', :class => 'back link'})%></li>  
            <li><%= link_to("ميزانية المشروع", {:controller => 'budget_items',:action => 'list', :id => @project.id}) %></li> 
            <li><%= link_to("مهمات المشروع", {:controller =>'tasks', :action =>'view',:id=> @project.id}) %></li>
          </ul>  
      </div> 
    </td>
</div>
</div>
</div>
<div id="main-wrap">
  <div id="content-wrap"> 
    <td>
      <h2>تعيين الأعضاء</h2> 
      <% @members.each do |m| %>
        <table class="table table-striped">    
          <% if m.user_id != current_user.id %>        
            <tr>
              <td>
                <%= link_to(m.user.name,{:controller => 'users', :action => 'show', :id => m.user_id}) %>
              </td>         
              <td>        
                <% if m.is_creator == true %>
                   <%= link_to("أدمن للمشروع",{:action => 'promoteMembers', :project_id=> @project.id,         :user_id => m.user_id}, :class =>'btn btn-danger') %>
                <% else %>     
                   <%= link_to("ترقية إلى أدمن",{:action => 'promoteMembers', :project_id=> @project.id,       :user_id => m.user_id}, :class =>'btn btn-primary') %>
                <% end %>
              </td>
            </tr> 
          <% end %>     
        </table>
      <% end %>
    </td>
  </div>
</div>
   
       