<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<div class="title">
  <% if loged_in? %>
    <h1><%= @project.name %></h1> 
</div> 

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class ="row">  
  <div class="span2 group">
      <% if isProjectCreator(current_user.id, @project.id)%> 
        <span id="active"><%= link_to("صحفة المشروع", {:controller => 'projects',:action =>'show',:id=> @project.id} , :class => 'btn span2') %></span><br><br>

      <span><%= link_to("تعديل المشروع", {:controller => 'projects',:action => 'editProject', :id=> @project.id},:class => 'btn span2') %></span><br><br>
      <% end %>
      <span><%= link_to("قائمة المشاريع", {:controller => 'projects',:action => 'listProjects', :class => 'back link'},:class => 'btn span2')%></span><br><br>
      <span><%= link_to("ميزانية المشروع", {:controller => 'budget_items',:action => 'list', :id => @project.id},:class => 'btn span2')  %></span><br><br>
      <span><%= link_to("مهمات المشروع", {:controller =>'tasks', :action =>'listTasks',:id=> @project.id},:class => 'btn span2') %></span><br><br>
  </div>
  <div class="span7 group2">

 
    <td> 
      <% @members.each do |m| %>

          <% if m.user_id != current_user.id %>
        <table class="table table-striped">    

            <tr>
              <td>
                <% @user = User.find(m.user_id)%>
                <%= image_tag @user.image_url(:thumb).to_s %>
                <%= link_to(m.user.name,{:controller => 'users', :action => 'show', :id => m.user_id}, {:style=>'color:#FFFFFF;', :class => "css_class"}) %>
              </td>         
              <td>   
                <% if m.is_creator == true %>
                   <%= link_to("أدمن للمشروع",{:action => 'promoteMembers', :project_id=> @project.id, :user_id => m.user_id}, :class =>'btn') %>
                <% else %>     
                   <%= link_to("ترقية إلى أدمن",{:action => 'promoteMembers', :project_id=> @project.id, :user_id => m.user_id}, :class =>'btn') %>
                <% end %>
              </td>
            </tr> 
    
        </table>
          <% end %> 
      <% end %>
    </td>
 
  </div>




</div >




<% end %>
   