<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<div class="flash">
  <%= flash[:notice] %>
  <%= flash[:error] %>
</div>
<h2 class = 'text-center'>إنشاء مجموعة</h2>

<%= form_for(:group, :url => {:action => 'create'}) do |f| %>

  <p>
    <%= f.text_field :group_name %>
    <b dir="rtl" lang="ar">اسم المجموعة *</b>
  </p>
  <p>
    <%= f.text_area :description%>
    <b dir="rtl" lang="ar">وصف *</b>
  </p>
   <p>
    <%= f.text_field :levels %>
    <b dir="rtl" lang="ar">مستوى المجموعة *</b>
  </p>
  <div>
    <button class="btn btn-info" type="submit">إنشاء المجموعة</button>
  </div>
<% end %>