<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<div class="flash">
  <%= flash[:notice] %>
  <%= flash[:error] %>
  <%= error_messages_for(@group) %>
</div>

<%= link_to("الرجوع إلى قائمة المجموعات", {:action => 'index'}, :class => 'btn btn-link') %>

<h2 class = 'text-center'>إنشاء مجموعة</h2>

<%= form_for(:group, :url => {:action => 'create'}) do |f| %>
   <table class="table table-striped" >
  <tr>
    <th dir="rtl" lang="ar">اسم المجموعة *</th>
    <td><%= f.text_field :group_name %></td>
  </tr>
  <tr>
    <th dir="rtl" lang="ar">وصف *</th>
    <td class = "ta"><%= f.text_area :description%></td>
  </tr>
   <tr>
    <th dir="rtl" lang="ar">مستوى المجموعة *</th>
    <td><%= f.text_field :levels %></td>
  </tr>
  </table>

  <table>
  <tr>
      <%= f.label :user_tokens, "إضافة أعضاء للمجموعة" %><br />
    <%= f.text_field :user_tokens, "data-pre" => @group.users.map(&:attributes).to_json %>
  </tr>
</table>



  <div>
    <button class="btn btn-info" type="submit">إنشاء المجموعة</button>
  </div>
<% end %>
