<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<div class="flash">
  <%= flash[:notice] %>
  <%= flash[:error] %>
</div>
<h2>إنشاء مجموعة</h2>

<%= form_for(:group, :url => {:action => 'create'}) do |f| %>

  <p>
    <%= f.text_field :group_name %>
    <b dir="rtl" lang="ar">اسم المجموعة *</b>
  </p>
  <p>
    <%= f.text_area :description%>
    <b dir="rtl" lang="ar">وصف *</b>
  </p>
  <div>
    <%= submit_tag("إنشاء المجموعة") %>
  </div>
<% end %>