<div class = "group comments">
<% post.comments.each do |c| %>
    
       <% if isCommentCreator(1,c.id) == true %>
    <%= best_in_place c, :comment, :path => {:controller => 'comments', :action=>'updateCommentGroup', :id=> c.id, :post_id => :post_id, :group_id => @group.id} %>    
    <%= link_to("x", {:controller => 'comments', :action => 'destroyCommentGroup', :comment_id => c.id, :group_id => @group.id}, :confirm => 'Are you sure you want to delete this comment?', :class => 'action delete') %> </br> 
    <%else%>
    <%= c.comment%> </br>
    <% end %>

<% end %>
  
    <%= form_for(:comment, :url => {:controller => 'comments',:action => 'createCommentGroup', :post_id => post.id, :group_id => @group.id}, :html => {:id => "comment-form"}) do |f| %>
    <td><%= f.text_field (:comment), :placeholder =>"اضف تعليقك  " %></td>
    <%= f.hidden_field :post_id, :value => post.id%>
   
 
<% end %>
  
</div>