<div class = "group comments">
<% post.comments.each do |c| %>
    <p><%= c.comment %></p>
    <p>
    <%= button_to("delete comment", {:controller => 'comments', :action => 'destroy', :comment_id => c.id, :group_id => @group.id}, :confirm => 'Are you sure you want to delete this comment?', :class => 'action delete') %>


    <%= form_for(:comment, :url=>{:controller => 'comments', :action=>'updateComment', :id=> c.id, :post_id => :post_id, :group_id => @group.id}) do |f| %>
    


            <tr>
            <th><%= f.label(:comment, "Comment")%></th>
            <td><%= f.text_field(:comment) %></td>
       </tr>
       <button type = "submit" >update </button>
    </p>
    <% end %>
<% end %>


  <% if ifMember(params[:id],1) == true %>
    <%= form_for(:comment, :url => {:controller => 'comments',:action => 'createComment', :post_id => post.id, :group_id => @group.id}, :html => {:id => "comment-form"}) do |f| %>
    <td><%= f.text_field (:comment), :placeholder =>"leave your comment" %></td>
    <%= f.hidden_field :post_id, :value => post.id%>
    <th><%= submit_tag("leave a Comment") %></th>
    <% end %>
  <% end %>
</div>