
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="group edit">
  <%= flash[:notice] %>
  <h2>Edit Group</h2>

  <%= form_for(:group, :url => {:action => 'update', :id => @group.id}) do |f| %>
  
   <div id= "table"><%= render(:partial => 'table', :locals => {:f => f}) %><div>
    
     <div class="form-buttons">
      <%= submit_tag("edit group") %>
    </div>
    
  <% end %>
</div>