
<%= flash[:notice] %>

<h1>Groups</h1>

<%= link_to("Add New Group", {:action => 'new'}, :class => 'action new') %>


<table>
    <tr>
      <th>Group ID</th>
      <th>Group Name</th>
      <th>Actions</th>
    </tr>

    <% if @groups %>
      <% @groups.each do |group| %>
      <tr>
          <td><%= group.id %></td>
          <td><%= group.group_name %></td>
          <td><%= link_to("Show", {:action => 'show', :id => group.id}, :class => 'action show') %></td>
      </tr>
      <% end %>
    <% end %>
</table>


