<<<<<<< HEAD
﻿<h1>Groups</h1>
=======
﻿<div class="flash">
  <%= flash[:notice] %>
  <%= flash[:error] %>
</div>
>>>>>>> master

   
<div>
<%= link_to("Add New Group", {:action => 'new'}, :class => 'action new') %>
</div>


<table>
  <tr>
    <th>Name</th>
  </tr>

  <% if @groups %>
  <% @groups.each do |group| %>
  <tr>
    <td><%= group.group_name %></td>
    <td><%= link_to("Show", {:action => 'show', :id => group.id}, :class => 'action show') %></td>

    <% if isGroupCreator(group.id, 1) == true %>
    <td><%= link_to("Delete", {:action => 'destroy', :id => group.id}, :helper => GroupUsersHelper, :confirm => 'Are you sure you want to delete this group?', :class => 'action delete') %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% end %>