<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<% if !flash[:notice].blank? %>
<div class= "notice">
  <%= flash[:notice] %>
</div>
<% end %>


  
<div>
  <% if current_user %>
          <%= link_to("إنشاء مجموعة جديدة", {:action => 'new'}, :class => 'action new') %>
  <% end %>
</div>
</br>

<%= form_tag('groups/', :method => 'get',:id => "search",:remote => true) do %>  
      <p> 
          <%= text_field_tag :search, params[:search]%>
          <%= submit_tag "بحث", :name => nil %>
      </p>  
<%end%>

<br />

<div id= "table"><%= render'table' %></div>
 
