<div class="group list">
  <%= flash[:notice] %>
  <h2>Groups</h2>

  <table class="listing" summary="Groups list">
    <tr class="header">
      
      <th>Group Name</th>
      <th>Description</th>
      <th>Levels</th>
      <th>Actions</th>
    </tr>
    <% @group.each do |group| %>
    <tr>
      <td><%= group.group_name %></td>
      <td><%= group.description %></td>
      <td><%= group.levels %></td>
      <td>
        <%= link_to("Edit", {:action => 'edit', :id => group.id}, :class => 'action edit') %>
        
      </td>
    </tr>
    <% end %>
  </table>
</div>