<h1>Create New Group</h1>

<%= form_for(:group, :url => {:action => 'create'}) do |f| %>

  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being created</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <tr>
    <th>name</th>
    <td><%= f.text_field :group_name %></td>
  </tr>
  <tr>
    <th>description</th>
    <td><%= f.text_field :description %></td>
  </tr>
  <div>
    <%= submit_tag("create Group") %>
  </div>
<% end %>