<div>
<div>
  <div class="flash">
  <%= flash[:notice] %>
  <%= flash[:error] %>
</div>

<div>
<%= link_to("الرجوع إلى قائمة المجموعات", {:action => 'index'}, :class => 'btn btn-link') %>
</div>


<h2 class="aligncenter"><%= @group.group_name %></h2>
</br>
</br>

<table class="table table-hover" id="show">
    <tr dir="rtl" lang="ar">وصف</tr>
    <th style="text-align: center" ><%= @group.description %></th>
</table>

<div>
<% if current_user %>
	<% if ifMember(@group.id, current_user.id) == false %>
    <%= button_to("اشترك معنا ",{:controller => 'group_users', :action =>'join', :id => @group.id, :user_id => current_user.id}, :class => 'btn btn-inverse') %>
    <% end %>
    <% if ifMember(@group.id, current_user.id) == true && isGroupCreator(@group.id, current_user.id) != true %>
    <%= button_to("ترك المجموعة",{:controller => 'group_users', :action =>'leave', :id => @group.id}, :class => 'btn btn-inverse') %>               
    <% end %>
    <% if isGroupCreator(@group.id, current_user.id) == true %>
    <%= button_to("حذف المجموعة", {:action => 'destroy', :id => @group.id}, :helper => GroupUsersHelper, :confirm => 'هل أنت متأكد؟', :class => 'btn btn-danger') %>
    <% end %>
<% end %>
</div>

<div> 
    <footer>
      <p>
        <b>أنشئت في</b>
        <%= @group.created_at %>
      </p>
    </footer>
</div>

</div>

