<div>
<div>
  <div class="flash">
  <%= flash[:notice] %>
  <%= flash[:error] %>
</div>
<% if current_user %>
<%= link_to("الرجوع إلى قائمة المجموعات", {:action => 'index'}, :class => 'btn btn-link') %>
<% end %>

  <table class="table table-striped" id="show">
      <tr>
        <th dir="rtl" lang="ar">اسم المجموعة</th>
        <td><%= @group.group_name %></td>
      </tr>

      <tr>
        <th dir="rtl" lang="ar">وصف</th>
        <td><%= @group.description %></td>
      </tr>

      <tr>
        <th dir="rtl" lang="ar">مستوى المجموعة</th>
        <td><%= @group.levels %></td>
      </tr>
  </table>
<div>

<% if current_user %>
  <% if ifMember(@group.id, current_user.id) == false %>
    <%= button_to("اشترك معنا ",{:controller => 'group_users', :action =>'join', :id => @group.id, :user_id => current_user.id}, :class => 'btn btn-inverse') %>
    <% end %>
    <% if ifMember(@group.id, current_user.id) == true && isGroupCreator(@group.id, current_user.id) != true %>
    <%= button_to("ترك المجموعة",{:controller => 'group_users', :action =>'leave', :id => @group.id}, :class => 'btn btn-inverse') %>               
    <% end %>
    <% if isGroupCreator(@group.id, current_user.id) == true %>
    <%= button_to("حذف المجموعة", {:action => 'destroy', :id => @group.id}, :helper => GroupUsersHelper, :confirm => 'هل أنت متأكد؟', :class => 'btn btn-danger') %>
    <% end %>
<% end %>
</div>
  <div>
    <% if current_user %>
  <% if ifMember(params[:id],current_user.id)==true %>
   <%= form_for(:post, :url => {:controller => 'posts',:action => 'createPost', :id => params[:id], :user_id => current_user.id},) do |f| %>
    <table summary = "The Post">
     
      <td ><%= f.text_field (:content),:placeholder =>"اضيف تعبيرك " %></td>
        <%= f.hidden_field :group_id, :value => @group.id%> 
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :is_group, :value => 'true' %>
        <%= f.hidden_field :name, :value => current_user.name %> 
    </table> 
  <%end%>
  <%end%>
 <div id = "allpostsborder">
  <p>
 <% @group.posts.each do |post| %>
  <% if isPostCreator(current_user.id,post.id ) == true %>
   <%= link_to("x", {:controller => 'posts', :action => 'destroyPost', :group_id => @group.id, :post_id => post.id },:confirm => 'هل انتى متأكد') %>   
      <i id="posteach"><%= best_in_place post, :content, :path => {:controller => 'posts', :action=>'updatePost', :id=>post.id,:group_id => @group.id} %></i>
      <i id="username" class="under">:<%= post.name %></i></br>
      <i dir="ltr" id="time" class="pull-left"><%= time_ago_in_words(post.created_at)%><i id="time"> ago</i></i>
    </p>
  <%else%>
  <p>
    <%= post.content %>  
    <i id="username" class="under">:<%= post.name %></i></br>
    <i dir="ltr" id="time" class="pull-left"><%= time_ago_in_words(post.created_at)%><i id="time"> ago</i></i>
  </p>
  <%end%>
  <%= render :partial => "listcomments", :locals => {:post => post} %>
  <%end%>
    </b>
    </b>    
  </div>

  <%end%>
  </div>
  </div>
  </div>

  
</div>  


<div> 
    <footer>
      <p>
        <b>أنشئت في</b>
        <%= @group.created_at %>
      </p>
    </footer>