<%= link_to("<< Back to groups list", {:action => 'index'}, :class => 'back-link') %>
<div>
<div>
  <div class="flash">
  <%= flash[:notice] %>
  <%= flash[:error] %>
</div>

<%= link_to("Back to View All Groups", {:action => 'index'}, :class => 'back-link') %>

<div>
      <p>
        <b>Group Name:</b>
        <%= @group.group_name %>
      </p>

      <p>
        <b>Description:</b>
        <%= @group.description %>
      </p>

      <p>
        <b>created_at:</b>
        <%= @group.created_at %>
      </p>

      <p>
        <b>last updated_at:</b>
        <%= @group.updated_at %>
      </p>

      <div>
        <% if ifMember(@group.id, 1) == false %>
        <%= button_to("اشترك معنا ",{:controller => 'group_users', :action =>'join', :id => @group.id, :user_id => 1}, :class => 'btn btn-inverse') %>
        <% end %>

        <% if ifMember(@group.id, 1) == true && isGroupCreator(@group.id, 1) != true %>
        <%= button_to("leave Group",{:controller => 'group_users', :action =>'leave', :id => @group.id}, :class => 'action show') %>               
        <% end %>

        <% if isGroupCreator(@group.id, 1) == true %>
        <%= button_to("Delete Group", {:action => 'destroy', :id => @group.id}, :helper => GroupUsersHelper, :confirm => 'Are you sure you want to delete this group?', :class => 'action delete') %>
        <% end %>
      </div>
</div>

<div>
<div id = "allpostsborder">
  <% @group.posts.each do |post| %>
    <b id = "postaya">
      <%= best_in_place post, :content, :path => {:controller => 'posts', :action=>'updatePostGroup', :id=>post.id,:group_id => @group.id, } %>
    </b>
  <% if isPostCreator(1,post.id ) == true %>
    <b><%= button_to("x", {:controller => 'posts', :action => 'destroyPost', :group_id => @group.id, :post_id => post.id, },:confirm => 'Are you sure you want to delete this post?', :class => 'btn btn-danger') %></b>

    <b>

     <% end %>
     </b>
    <%= render :partial => "listcomments", :locals => {:post => post} %></div>
  <% end %>
</div>

<div>
  <% if ifMember(params[:id],1)==true %>
  <%= form_for(:post, :url => {:controller => 'posts',:action => 'createPostGroup', :id => params[:id]}) do |f| %>
  <table summary = "The Post">
    <tr>
      <th>Post Content</th>
    <td ><%= f.text_field (:content),:placeholder =>"اضيف تعبيرك " %></td>
    </tr>
    <tr>
      <th><%= f.hidden_field :group_id, :value => @group_id%> </th>
    </tr>
  </table> 

<div class="form-buttons">
  <%= submit_tag("Create Post") %>
  </div>
  <% end %>
  <% end %>
</div>
</div>
</div>