<%= link_to("<< Back to groups list", {:action => 'index'}, :class => 'back-link') %>
<div>
  <table>
   <tr >
    <th>Group name</th>
    <td><%= @group.group_name %></td>
    </tr>
    <tr>
    <th>Description</th>
    <td><%= @group.description %></td>
    </tr>
   
  </table> 

<div>
  <%= render(:partial=> "list") %>
</div>

<div>
 

    <% if ifMember(params[:id],1)==true %>
 

  <%= form_for(:post, :url => {:controller => 'posts',:action => 'createPost', :id => params[:id]}, :html => {:id => "post-form"}) do |f| %>


  <%= error_messages_for(@post) %>


  <table class="table table-striped">
    

    <tr>
      <td><%= f.text_field (:content) %>
      <button class="btn btn-success" type="submit">Post</button>
      </td>
    </tr>

     <tr>
    <th><%= f.hidden_field :group_id, :value => @group_id%> </th>
    
</tr>

</table>
 <% end %>
 </div> 
 <% end %>
 </div>

     <div>
 <% if ifMember(params[:id],1)==false %>

 <%= button_to("join",{:controller => 'group_users', :action =>'join', :id => @group_id, :user_id => 1}, :class => 'action show') %>
  <% end %>
 <% if ifMember(@group.id, 1) == true && isGroupCreator(@group.id, 1) != true %>
        <%= button_to("leave Group",{:helper => 'group_users', :controller => 'group_users', :action =>'leave', :id => @group.id}, :confirm => 'Are you sure you want to leave this group?', :class => 'action show') %>
                   
 <% end %>

     </div>
