<%= link_to("<< رجوع", {:action => 'index'}, :class => 'back-link') %>


<table>
<tr>
      <th>الاسم:</th>
      <td><%= @group.group_name %></td>
</tr>

</br>
</br>

<tr>
      <th>االمعلومات:</th>
      <td><%= @group.description %></td>
</tr>

</br>
</br>

<tr>
    <th>المستوة:</th>
    <td><%= @group.levels %></td>
</tr>

</br>
</br>

<tr>
	<%if isGroupCreator(@group.id,2) == true %>
       <th><%= link_to("تعديل", {:action => 'edit', :id => @group.id},:helper => GroupUsersHelper, :class => 'action edit') %></th>
       <br/> 
       <br/>
       <th><%= link_to("الغاء", {:action => 'delete', :id => @group.id},:helper => GroupUsersHelper, :class => 'action delete') %></th>
    <%end%>
</tr>

</table>

