<%= link_to("<< Back to groups list", {:action => 'index'}, :class => 'back-link') %>

<div>
   
  <table>
   <tr >
    <th>Group name</th>
    <td><%= @group.group_name %></td>
   </tr>

   <tr >
    <th>Description</th>
    <td><%= @group.description %></td>
   </tr>
   
  </table>

     <div>
 <% if ifMember(params[:id],6)==false %>

 <%= button_to("join",{:controller => 'group_users', :action =>'join', :id => @group_id, :user_id => 6}, :class => 'action show') %>
                   
 <% end %>

    <% if ifMember(params[:id],6)==true %>
 <%= button_to("create post", {:controller => 'posts', :action => 'newPost', :id =>@group_id}, :class => 'action new') %>      
 <% end %>
     </div>