<%= link_to("<< Back to groups list", {:action => 'index'}, :class => 'back-link') %>

<tr>
      <th>Name:</th>
      <td><%= @group.group_name %></td>
</tr>

<tr>
      <th>Description:</th>
      <td><%= @group.description %></td>
</tr>

<tr>
      <th>created_at:</th>
      <td><%= @group.created_at %></td>
</tr>


<div id = "posts">
  <%= render(:partial=> "posts/list") %>
</div>

    <% if ifMember(params[:id],5)==true %>
 

  <%= form_for(:post, :url => {:controller => 'posts',:action => 'createPost', :id => params[:id]}, :html => {:id => "post-form"}) do |f| %>


  <%= error_messages_for(@post) %>


  <table summary = "The Post">
    

    <tr>
      <th>Post Content</th>
      <td><%= f.text_field (:content) %></td>
    </tr>

     <tr>
    <th><%= f.hidden_field :group_id, :value => @group_id%> </th>
    
  </tr>



  

  </table>
  

  <div class="form-buttons">
    <%= submit_tag("Create Post") %>
  </div>

  <% end %>

</div> 


 <% end %>

