<%= form_for(:gallery, :url=>{:action=>'create' , :id => @project_id}) do |f| %>
	<table>

<tr>
<th><%= f.label(:photo ,"إيصال")%></th>
<td><%= f.file_field(:photo)%></td>
</tr>
</br>
<tr> 
<td><%= f.hidden_field :project_id , :value=> @project_id %></td>
</tr>
</table>
</br>
<p>
<td><%= f.submit ("إحفظ") %></td>
</p>
<% end %>
