<%= form_for(:gallery, :url=>{:action=>'create' , :project_id => @project_id}) do |f| %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <table class="body">

<tr>
<th><%= f.label(:photo ,"الصور")%></th>
<td><%= f.file_field(:photo)%></td>
</tr>
</br>
<tr> 
<td><%= f.hidden_field :project_id , :value=> @project_id %></td>
</tr>
</table>
</br>
<p>
<td><%= f.submit ("إحفظ") %></td>
</p>
<% end %>
 <% @gallery.each do |photo| %>
    <div>
 <div>
    <%= image_tag photo.photo_url(:thumb).to_s %>
    <div>
    <b><%= link_to "X", {:controller => 'galleries',:action => 'destroy',:id => photo.id ,:project_id => @project_id},:confirm => "هل تريد مسح الصورة ؟" %></b>
            </div>
    </div>
  <% end %>
</div>