<%= stylesheet_link_tag  "stylelogin", :media => "all" %>

  <div class="container">
    <section class="register">
      <% provide(:title, "Log in") %>
      <h1>تسجيل دخول</h1>
      
    <%= form_tag sessions_path do %>
     
      <h3>اسم المستخدم</h3>
      <%= text_field_tag :username, params[:username] %>
 
      <h3>كلمة السر</h3>
      <%= password_field_tag :password %>

      <p class="submit"><%= submit_tag "دخول" %></p>
    <% end %>
     <h3>مستخدم جديد؟ <%= link_to "اشترك الآن", sign_up_path %></h3>
    </section>
  </div>