<% provide(:title, "Log in") %>
<h1>تسجيل دخول</h1>

<%= form_tag sessions_path do %>
  <p>
    <label>اسم المستخدم</label><br />
    <%= text_field_tag :username, params[:username] %>
  </p>
  <p>
    <label>كلمة السر</label><br />
    <%= password_field_tag :password %>
  </p>
  <p class="button"><%= submit_tag "دخول" %></p>
<% end %>

    <p>مستخدم جديد؟ <%= link_to "اشترك الآن", sign_up_path %></p>
  </div>
</div>





