
<%= error_messages_for(@component) %>
<div id="budget-component-dialog">
 <table>
    <tr>
	  <th ><%= f.label(:name, "الاسم:")%></th>
	  <td><%= f.text_field(:name, :id=>"name") %></td>
    </tr>

    <tr>
	  <th><%= f.label(:unit_price , "سعر الوحدة ")%></th>
	  <td><%= f.text_field(:unit_price, :id=>"price") %></td>
    </tr>

    <tr>
	  <th><%= f.label(:quantity_purchased , "الكمية المشتراة" )%></th>
	  <td><%= f.text_field(:quantity_purchased, :id=>"qty") %></td>
    </tr>

    <tr>
	  <th><%= f.label(:total_quantity , "اجمالى الكمية ")%></th>
	  <td><%= f.text_field(:total_quantity, :id=>"total") %></td>
    </tr>

    <tr>	
	  <td><%= f.hidden_field :budget_item_id , :value=>@item %></td>
    </tr>

    <tr>
	  <td><%= f.hidden_field :total , :id=>"amount" %></td>
    </tr>

    <tr>
	  <td><%= f.hidden_field :status , :id=>"status" %></td>
    </tr>

    <tr>
	  <td><%= f.hidden_field :spent , :id=>"spent" %></td>
    </tr>
 </table> 
</div>


	






	