
<%= error_messages_for(@component) %>
<div id="budget-component-dialog">
 <dl class="body">
    
	  <dt ><%= f.label(:name, "الاسم:")%></dt>
	  <dd><%= f.text_field(:name, :id=>"name") %></dd>
   
	  <dt><%= f.label(:unit_price , "سعر الوحدة ")%></dt>
	  <dd><%= f.text_field(:unit_price, :id=>"price") %></dd>


  
	  <dt><%= f.label(:quantity_purchased , "الكمية المشتراة" )%></dt>
	  <dd><%= f.text_field(:quantity_purchased, :id=>"qty") %></dd>
   

   
	  <dt><%= f.label(:total_quantity , "اجمالى الكمية ")%></dt>
	  <dd><%= f.text_field(:total_quantity, :id=>"total") %></dd>
  

    <tr>	
	  <td><%= f.hidden_field :budget_item_id , :value=>@item %></td>
    </tr>

    <tr>
	  <td><%= f.hidden_field :total , :id=>"amount" %></td>
    </tr>

    <tr>
	  <td><%= f.hidden_field :status , :id=>"status" %></td>
    </tr>

    <tr>
	  <td><%= f.hidden_field :spent , :id=>"spent" %></td>
    </tr>
 </dl> 
</div>


	






	