
<table  class="table" id="table-components">
	<tr class="header">
		<th>إسم</th>
		<th>سعر الوحدة</th>
		<th>الكمية المشترة</th>
		<th>إجمالي الكمية</th>
		<th>المدفوع</th>
		<th>الحالة</th>
		<th>فعل</th>
	</tr>

    <% @components.each do |component|%>
    <tbody>
    <tr class="">
	<td><%= component.name %></td>
	<td><%= component.unit_price %></td>
	<td><%= component.quantity_purchased %></td>
	<td><%= component.total_quantity %></td>
	<td><%= component.spent %></td>
	<% if component.status.to_s == "اكتمل" %>
	<td><span class="label label-success">اكتمل</span></td>
	<%else%>
	<td><span class="label label-important">معلق</span></td>
	<%end%>
	<td class="actions">
		<% if(isProjectCreator(@current_user, @project_id ) == true) %>
        <i class="icon-pencil"></i><%= link_to(" تعديل", {:action=>'edit' ,:id=>component.id, :item_id=>@item , :project_id=> @project_id})%>
	    <i class="icon-remove"></i><%= link_to(" إلغاء", {:action=>'destroy',:id=>component.id,:item_id=>@item ,:project_id=> @project_id}, :confirm=>"المدفوع #{component.spent}  هل تريد الغاء هذا العنصر؟", :id=>"delete")%> 
	    <%= link_to(" إضافة وصل", {:controller => 'receipts', :action=>'new' ,:id=>component.id})%>
	    <%= link_to(" أظهار الوصولات",{:controller => 'receipts', :action=>'list' ,:id=>component.id})%> 
	    <%else%>
	    <%= link_to("أظهار الوصولات",{:controller => 'receipts', :action=>'list' ,:id=>component.id})%>
        <% end %>
	</td>

    </tr>
    </tbody>
    <%end%>
</table>

