<table  class="table pagination" id="table-components">
	<tr class="header">
		<th>إسم</th>
		<th>سعر الوحدة</th>
		<th>الكمية المشترة</th>
		<th>إجمالي الكمية</th>
		<th>المدفوع</th>
		<th>الحالة</th>
		<th>فعل</th>
	</tr>

    <% @components.each do |component|%>
    <tbody>
    <tr class="<%= component.status == "اكتمل" ? 'info' : 'warning' %>">
	<td><%= component.name %></td>
	<td><%= component.unit_price %></td>
	<td><%= component.quantity_purchased %></td>
	<td><%= component.total_quantity %></td>
	<td><%= component.spent %></td>
	<td><%= component.status %></td>
	<td class="actions">
		<% if(isProjectCreator(current_user, @project_id ) == true) %>
        <%= link_to("تعديل", {:action=>'edit' ,:id=>component.id, :item_id=>@item , :project_id=> @project_id},:class=>"btn btn-small")%> 
	    <%= link_to("إلغاء", {:action=>'destroy',:id=>component.id,:item_id=>@item ,:project_id=> @project_id}, :confirm=>"المدفوع #{component.spent}  هل تريد الغاء هذا العنصر؟", :id=>"delete",:class=>"btn btn-danger btn-small")%>
	    <%= link_to("إضافة وصل", {:controller => 'receipts', :action=>'new' ,:id=>component.id},:class=>"btn btn-small")%>
	    <%= link_to("أظهار الوصولات",{:controller => 'receipts', :action=>'list' ,:id=>component.id},:class=>"btn btn-small")%>
	    <%else%>
	    <%= link_to("أظهار الوصولات",{:controller => 'receipts', :action=>'list' ,:id=>component.id},:class=>"btn btn-small")%>
        <% end %>
	</td>

    </tr>
    </tbody>
    <%end%>
</table>

