 <table  class="table pagination" id="table-components">
<tr class="header">
	<th>Name</th>
	<th>Unit Price</th>
	<th>Quantity Purchased</th>
	<th>Total Quantity</th>
	<th>Total Spent</th>
	<th>Status</th>
	<% if(isProjectCreator(1, @project_id) == true) %>
	<th>Action</th>
	<% end%>
</tr>

<% @components.each do |component|%>
<tbody>
<tr class="<%= component.status == "Approved" ? 'info' : 'warning' %>">
	<td><%= component.name %></td>
	<td><%= component.unit_price %></td>
	<td><%= component.quantity_purchased %></td>
	<td><%= component.total_quantity %></td>
	<td><%= component.spent %></td>
	<td><%= component.status %></td>
	<td class="actions">
		<% if(isProjectCreator(1, @project_id ) == true) %>
      <%= link_to("Edit", {:action=>'edit' ,:id=>component.id, :item_id=>@item , :project_id=> @project_id},:class=>"btn btn-small")%> 
	  <%= link_to("Delete", {:action=>'destroy',:id=>component.id,:item_id=>@item ,:project_id=> @project_id}, :confirm=>"Are you sure?", :id=>"delete",:class=>"btn btn-danger btn-small")%>
	    <% end %>
	</td>
	
</tr>
</tbody>
<%end%>
	</table>

