
<% @page_title = "عنلصر الميزانية"%>  
<p class="">
<%= link_to("رجوع للقائمة", {:controller=>'budget_items',:action => 'list', :id=>params[:project_id] },:class => 'pull-left' ) %>
</p>  
<div class="style">
  <input style= "display:none; height:100px;" id="data" type="text" name="lname" value= <%= @percent %>>
  <h1><%= @name %><br></span>
    <div class="style2">
     <h6 class="info1"><i class="icon-tint"></i>اسم المشروع: <%=@project%>  </h6><br>
     <h6 class="info2"><i class="icon-tint"></i>الاجمالى: <%= @total %>     </h6><br>
     <h6 class="info3"><i class="icon-tint"></i>اجمالى المدفوع: <%= @spent %></h6>
    </div>
  </h1>
</div>
<br>
<br>
<br>
<br>
<div id="table2">
<%= render(:partial => "table" )%> 
</div>

<span class="h3"> 
   <div>
      <% if(isProjectCreator(@current_user, @project_id ) == true) %> 
        <%= link_to("اضافة",{:action=> 'new'  , :id=>@item , :project_id=> @project_id} , :id=>"create" , class: "btn btn-small pull-left") %> 
      <% end %>
   </div>
</span> 


