<% @page_title = "Subjects List"%>
<%= flash_message %>

<%= form_tag('list', :method => 'get', :id=>"search", :remote=> true) do %> 
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<form action="">
<fieldset>
<legend><h1>Marketing</h1></legend>
<h3>Total: <%= @total %></h3> 
<h4>Spent: <%= @spent %></h4>
</fieldset>
</form>

<hr>
<div class= "Subject List">
	<h4> <%= link_to({:action=>'new', :id=> @item}, :id=>"create", class: "btn btn-mini btn-success") do %>
      <i class="icon-plus icon-white"></i>
      <% end %>  Components </h4>
<br>
<br>
<div id="table">
<%= render 'table' %> 
</div>



