<% @page_title = "Subjects List"%>

<form action="">
<fieldset>
<legend><h1>Marketing</h1></legend>
<h3>Total: <%= @total %></h3> 
<h4>Spent: <%= @spent %></h4>
</fieldset>
</form>
<hr>
<div class= "Subject List">
	<h4>     <%= link_to({:action=>'new', :id=> @item}, class: "btn btn-mini btn-success") do %>
      <i class="icon-plus icon-white"></i>
      <% end %>  Components </h4>
 

<br>
<br>
 <table class="table" summary="Subject List">
<tr class="header">
	<th>Name</th>
	<th>Unit Price</th>
	<th>Quantity Purchased</th>
	<th>Total Quantity</th>
	<th>Total Spent</th>
	<th>Status</th>
	<th>Action</th>
</tr>
<% @components.each do |component|%>
<tr class="<%= component.status == "Approved" ? 'success' : 'error' %>">
	<td><%= component.name %></td>
	<td><%= component.unit_price %></td>
	<td><%= component.quantity_purchased %></td>
	<td><%= component.total_quantity %></td>
	<td><%= component.spent %></td>
	<td><%= component.status %></td>
	<td class="actions">
	<!--:data_toggle=>"modal", :data_target=>"#myModal"-->
	   <%= link_to("Edit", {:action=>'edit' ,:id=>component.id, :item_id=>@item},:class=>"btn btn-small")%>
	   <%= link_to("add attachement", {:controller => 'receipts', :action=>'new' ,:id=>component.id},:class=>"btn btn-small")%>
	   <%= link_to("view attachement", {:controller => 'receipts', :action=>'list' ,:id=>component.id},:class=>"btn btn-small")%>
		<%= link_to("Delete", {:action=>'destroy',:id=>component.id,:item_id=>@item}, :confirm=>"Are you sure?", :class=>"btn btn-danger btn-small")%>


	</td>
	
</tr>
<%end%>
	</table>


