<h4>تعيين العضو</h4>
<h4>الأعضاء</h4>

 <h4>الأعضاء المعينين لهذه المهمة :</h4>
      
  </tr>
  <% @assignedppl.each do |p| %>
    <tr>
      <td> 
        <% @user = User.find(p.user.id)%>
        <%= image_tag @user.image_url(:thumb).to_s %>
        <%= p.user.name %>
        <b> <%= link_to " X ", {:controller => 'users' ,:action => 'unassign', :id => @project_id , :task_id => @task_id , :user_id =>p.user_id} %></b>
         <br/>
      </td>
    </tr>
  <% end %>
  <tr>
  <h4>تعيين أعضاء جدد لهذه المهمة : </h4>
  </tr>
   <% @notassigned.each do |p| %> <br/>
      <tr>
         <% @user = User.find(p.user.id)%>
        <%= image_tag @user.image_url(:thumb).to_s %>
        <td> <%= p.user.name %></td>
        <td>
          <b> <%= link_to "  عين ", {:controller => 'users' ,:action => 'assign', :id => @project_id , :task_id => @task_id , :user_id =>p.user_id} %></b>
       </td>
      </tr>
    <% end %> 
      </td>
      </tr>

