 <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<%= link_to("ارجع الي القاءمة", {:controller => 'projects',:action => 'listProjects', :class => 'back link'} ) %>
   <h2>المهام</h2>
   <table class="table table-striped">
    <% @task.each do |task| %>
      <tr>
        <td> <%= task.description %>  </td>
        <td>  
        <%= link_to("تعديل", {:action => 'edit', :id => task.id ,:project_id => params[:id] }, :class => 'action edit') %>
        <b> <%= link_to "الغاء", {:action => 'destroy', :id => task.id ,:project_id => params[:id]},:confirm => "هل تريد مسح المهمة ؟" %></b>

        <b> <%= link_to("تعيين عضو لمهمة  ", {:controller =>'tasks', :action => 'getProjectMembers', :project_id => params[:id] , :task_id => task.id }, :class => 'action getProjectMembers') %> </b>
        </td>
      </tr>
    <% end %>
    <%= link_to("إضافة مهمة جديدة ", {:action => 'create', :project_id => params[:id] }, :class => 'action create') %>

    </table>