   <%= link_to("ارجع الي القاءمة", {:controller => 'projects',:action => 'listProjects', :class => 'back link'} ) %>
   <h2>المهام</h2>
   <table class="table table-striped">
	 	<% @tasks.each do |task| %>
		 	<tr>
		 		<td> <%= task.description %>  </td>
				<td>	
	  <%= link_to("  تعديل ", {:action => 'edit', :id => task.id ,:project_id => params[:id] }, :class => 'action edit') %>
			
	<b> <%= link_to "    الغاء    ", {:action => 'destroy', :id => task.id ,:project_id => params[:id]},:confirm => "هل تريد مسح المهمة ؟" %></b>
    <b> <%= link_to("تعيين عضو لمهمة ", {:controller =>'tasks', :action =>'getProjectMembers', :project_id => @project_id , :task_id => task.id }, :class => 'action getProjectMembers') %> </b>
				</td>
		 	</tr>
	 	<% end %>
<div>
	<%= form_for(:task, :url => {:action => 'create',:project_id => @project_id}) do |f| %>
     <table>
		<tr>
			<h2>إضافة مهمة جديدة</h2>
			<th>تفاصيل المهمة</th>
			<td><%= f.text_field (:description) %></td>
		</tr>
		<tr><%= f.hidden_field :project_id , :value=> @project_id %></tr>
    </table>
	<div>  
		<%= submit_tag("إضافة") %>
	</div>
  <% end %>
</div>	 	
</table>