<br>
<br>
<p class="pull-right"></p>
<% @sources.last(5).each do |source| %>
    <h4>
    	<i class="icon-tint"> </i> 
    	<%= source.amount%> <%= source.name %> 
        <span class="pull-left"> <%= link_to(" مشروع #{source.budget_source_projects.size} ",{:action=>'show', :source_id=> source.id}, :class=>"pull-left" )%>
        </span>
    </h4>
    <div class="sources">
        <% if source.budget_source_projects.size != 0 %>
			<% source.budget_source_projects.each do |s| %> 
				<%= link_to("#{s.project.name}",{:controller=>"projects",:action=>'show',:id=>s.project_id})%>  
			<span class="amount"> قيمة المالية :<%= s.amount %>
			</span>
	    	<br> <br>
	    	<%end%> 
	    	<hr>
	    <%else%>
	    	لا  يوجد مساهامات حتى الان <br><br> 
	    <%end%>
	</div>
<%end%> 


