


<p class="pull-right"></p><% @sources.last(5).each do |source| %>

       <h4><i class="icon-tint"> </i> <%= source.name %> <%= source.amount%><span class="pull-right"> <%= link_to("#{source.budget_source_projects.size} projects",{:action=>'show', :source_id=> source.id}, :id=>"show-more" , :class=>'more-results')%></span></h4>
        <div class="sources">
        <% if source.budget_source_projects.size != 0 %>
		<% source.budget_source_projects.each do |s| %> 
		<%= link_to("#{s.project.name}",{:controller=>"projects",:action=>'show',:id=>s.project_id})%>
	    amount:<%= s.amount %><br> <br>
	    <%end%> <hr>
	    <%else%>
	    No contributions yet <br><br> 
	    <%end%>
		</div>
		<%end%> 


