<%= render(:partial => 'shared/error_messages' , :locals => {:object => @budget_source}) %>
<div class = "body"> 
	<h2>إنشاء مصدر الميزانية</h2>
	<br>
	<br>
	<br>
	<br>
	<%= form_for(@budget_source , :as=>:budget_source, :url=>{:action=>'create'} , :validate=>true) do |f| %>
	<dl>

<dt><%= f.label(:Company_Name , "إسم الشركة") %></dt>
<dd><%= f.text_field(:name)%></dd>


<dt><%= f.label(:Amount , "الكمية")%></dt>
<dd><%= f.text_field(:amount)%></dd>

<dt><%= f.label ("المشروع")%></dt>
<dd><%= f.text_field (:project_tokens)%> </dd>
</dl>
</br>
<p>
<td class = "btn"><%= f.submit ("أحفظ") %></td>
</p>
<% end %>
</div>
