<%= render(:partial => 'shared/error_messages' , :locals => {:object => @budget_source}) %>
<div class = body> 
	<div class="navbar" "container"></div>
	<h2>إنشاء مصدر الميزانية</h2>
	<%= form_for(:budget_source, :url=>{:action=>'create'}) do |f| %>
	<table>
<tr>
<th><%= f.label(:Company_Name , "إسم الشركة") %></th>
<td><%= f.text_field(:name)%></td>
</tr>
</br>
<tr>
<th><%= f.label(:Amount , "الكمية")%></th>
<td><%= f.text_field(:amount)%></td>
</tr>
</br>
<tr>
<th><%= f.label ("المشروع")%></th>
<td><%= f.text_field (:project_tokens)%> </td>
</tr>

</table>
</br>
<p>
<td class = "btn"><%= f.submit ("أحفظ") %></td>
</p>
<% end %>
</div>

	