

<table class="listing" summary="community list">

    <tr class="header">
      <th>الرق</th>
      <th></th>
      <th>الاسم</th>
      <th></th>
      <th>الوصف</th>
      <th></th>
      <th>الارقام</th>
      <th></th>
      <th>الفعل</th>
    </tr>
    <% @communities.each do |community| %>
    <tr>
    
        <td><%= community.id %></td>
        <td></td>
        <td><%= community.title %></td>
        <td></td>
        <td><%= community.social_profile_info %></td>
        <td></td>
        <td><%= community. contact_info %></td>
        <td></td>
        <td> 
        <%if community.is_dismissed != true %>
            <%= link_to("التعديل", {:action => 'edit', :id => community.id}, :class => 'action edit') %>
            <%= link_to("الالغاء", {:action => 'destroy', :id => community.id}, :confirm => "هل انت متأكد؟", :class => 'action delete') %>
              <% end %> 
        </td>
     
    </tr>
    <% end %>
    
</table>