
<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div>
  
  <%= form_for(:community, :url => {:action => 'update', :id => @community.id}) do |t| %>
  
<%= error_messages_for(@community) %>

    <table>
      <tr>
        <th>Title</th>
        <td><%= t.text_field(:title) %></td>
      </tr>
      <tr>
        <th>Social_profile_info</th>
        <td><%= t.text_field(:social_profile_info) %></td>
      </tr>
      <tr>
        <th>Contact info</th>
        <td><%= t.text_field(:contact_info) %></td>
      </tr>
    </table>
<<<<<<< HEAD
    
   <button class="btn btn-success" type="submit">Submit</button>

=======
    <p class="text-center">
<button class="btn btn-success" type="submit">تحديث </button>
    </p>
>>>>>>> c1_mariam_edit_community_sprint1
  <% end %>
</div>
