<% @page_title= "Community list" %>
<div>
 
<div>
 
<table class="table table-hover">
  
    <tr>
  <h1 class="text-center">المجتمعات </h1>
<div>
  
  <table class="table table-hover">
    <tr class="header">
      <th>اسم المجتمع</th>
      <th>وصف</th>
      <th>معلومات الاتصال</th>
      <th>يمكنكا فعل </th>
    </tr>
    <% @communities.each do |community| %>
     <tr class="success">
       <td><%= community.title %></td>
       <td><%= community.social_profile_info %></td>
        <td><%= community. contact_info %></td>
        <td> 
             <%= link_to("مسح", {:action => 'delete', :id => community.id}, :class => 'action delete') %>
           </br>
             <%= link_to("تعديل ", {:action => 'edit', :id => community.id}, :class => 'action edit') %>
              </br>
             <%= link_to("عرض ", {:action => 'show', :id => community.id}, :class => 'action show') %>
        </td>
      </tr>
    <%end%>
  </table>
</div>

