<% if !flash[:notice].blank? %>
<div class= "notice">
  <%= flash[:notice] %>
</div>
<% end %>

<h2 class="search">المجتمعات </h2>
<% if loged_in? %>	
	<%if current_user.isAdmin == true %>
	<%= button_to("اضف مجتمع جديد ", {:action => 'new'}, :class => 'btn btn-inverse') %>
	<%end%> 

<%end%>

<%= form_tag('list', :method => 'get',:id => "search" , :class=>"pull-left",:remote => true) do %>  
<div class="input-append">
  <%= text_field_tag :search, params[:search] , :class=>"span2" , :id=>"appendedInputButton" , :placeholder=>"بحث" , :type=>"text" %>
    <button class="btn" type="submit">
  	<i class="icon-search"></i>
  	</button>
</div> 
<%end%>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id= "table"><%= render'table' %></div>