<% @page_title= "Community list" %>
<div>
  <h2>Communities</h2>
  <%= link_to("Add New Community", {:action => 'new'}, :class => 'action new') %>

<div class="community list">
  
  <table class="listing" summary="Subject list">
    <tr class="header">
      <th>Title</th>
      <th>Social profile info</th>
      <th>Contact info</th>
      <th>Actions</th>
    </tr>
    <% @communities.each do |community| %>
     <tr>
       <td><%= community.title %></td>
       <td><%= community.social_profile_info %></td>
        <td><%= community. contact_info %></td>
        <td> 
            <%= link_to("Delete", {:action => 'delete', :id => community.id}, :class => 'action delete') %>
             <%= link_to("Edit", {:action => 'edit', :id => community.id}, :class => 'action edit') %>
             

        </td>
      </tr>
    <% end %>
  </table>
</div>

