
<div>
  <h2>Communities</h2>
  <%= link_to("Add New Community", {:action => 'new'}, :class => 'action new') %>
    <% @communities.each do |community| %>
    <tr>
      <td><%= community.title %></td>
      <td><%= community.social_profile_info %></td>
      <td><%= community. contact_info %></td>
      <td>
          <%= link_to("Edit", {:action => 'edit', :id => community.id}, :class => 'action edit') %>
      </td>

        <td> 
            <%= link_to("show", {:action => 'show', :id => community.id}, :class => 'action delete') %>
        </td>
    </tr>
    <% end %>
  </table>
</div>
<div class="community list">
  <h2>Communities</h2>
  <table class="listing" summary="community list">
    <tr class="header">
      <th>Title</th>
      <th>Social profile info</th>
      <th>Contact info</th>
      <th>Actions</th>
    </tr>
    <% @communities.each do |community| %>
     <tr>
       <td><%= community.title %></td>
       <td><%= community.social_profile_info %></td>
        <td><%= community. contact_info %></td>
        <td> 
            <%= link_to("Delete", {:action => 'delete', :id => community.id}, :class => 'action delete') %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

