
<% if !flash[:notice].blank? %>
<div class= "notice">
  <%= flash[:notice] %>
</div>
<% end %>


<div>
  <h1 class="text-center">المجتمعات </h1>

  <%= button_to("اضف مجتمع جديد ", {:action => 'new'}, :class => 'btn btn-inverse') %>
  
  <%= form_tag('list', :method => 'get',:id => "search",:remote => true) do %>  
           <p> 
            <%= text_field_tag :search, params[:search]%>
            <%= submit_tag "بحث", :name => nil, :class => 'btn btn-inverse' %>
           </p>  
  <%end%>

<div id= "table"><%= render'table' %><div>

