<h1 class="text-center">من فضلك ادخل معلومات عن المجتمع الذي تريد اضافاته </h1>
<%= link_to("<< الروجع إلى القائمة الرئيسية", {:action => 'list'}, :class => 'back-link') %>
<div>  
<%= form_for(:community, :url => {:action => 'createCommunity'}) do |t| %>
<%= error_messages_for(@community) %>
   <table class="table table-striped" >
      <tr>
        <th><%="اسم المجتمع"%></th>
        <td><%= t.text_field(:title) %><td>
      </tr>
      <tr>
        <th><%="وصف المجتمع" %> </th>
        <td><%= t.text_field(:social_profile_info) %></td>
      </tr>
      <tr>
       <th><%="رقم التليفون" %> </th>
       <td><%= t.text_field(:contact_info) %></td>
      </tr>
    </table>
   <p class="text-right">
<button class="btn btn-info" type="submit">تسجيل </button>
</p>
  <% end %>
</div>
