
<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div> 
  <h2>Create community</h2>
  <%= render(:partial => 'shared/error_messages') %>
  <%= form_for(:community, :url => {:action => 'createCommunity'}) do |t| %>

    <table summary="Subject from fields">
      <tr>
        <th>Title</th>
        <td><%= t.text_field(:title) %></td>
      </tr>
      <tr>
        <th>Social_profile_info</th>
        <td><%= t.text_field(:social_profile_info) %></td>
      </tr>
      <tr>
        <th>Contact info</th>
        <td><%= t.text_field(:contact_info) %></td>
      </tr>
    </table>

    <div>
      <%= link_to("create group", {:controller => 'groups', :action => 'new'}, :class => 'action new') %>
    </div>

     <div>
      <%= link_to("create project", {:controller => 'projects', :action => 'new'}, :class => 'action new') %>
    </div>




    <div>
      <%= submit_tag("Submit") %>
    </div>
    
  <% end %>
</div>
