<%= link_to("Back to list", {:action => 'list', :class => 'back link'} ) %>

<div>

   <h2> comm id :<%= @community_id%></h2>
<table class="table table-striped">
   <tr >
    <th>Title</th>
    <td><%= @communities.title %></td>
   </tr>

   <tr >
    <th>Social profile info</th>
    <td><%= @communities.social_profile_info %></td>
   </tr>
  
   <tr >
    <th>Contact info</th>
    <td><%= @communities.contact_info%></td>
   </tr>
  </table>
    
</div>