<%= link_to("<< رجوع", {:action => 'list'}, :class => 'back-link') %>


  <h2>المجتمع</h2>

  <table>
    
    <tr>
      <th>اسم المجتمع:</th>
      <td><%= @community.title %></td>
    </tr>
    <tr>
      <th>وصف عن المجتمع:</th>
      <td><%= @community.social_profile_info %></td>
    </tr>
    <tr>
      <th>البريد الالكتروني: </th>
      <td><%= @community.contact_info  %></td>
    </tr>
    
     <tr> 
        
        <%if @community.is_dismissed != true %>
          <th>يمكنك فعل:</th>
           <td>
            <li><%= link_to("تعدىل", {:action => 'edit', :id => @community.id}) %><i class="icon-pencil"></i> </li>
            </td>
            </br>
            <td>
            <li><%= link_to("مسح", {:action => 'destroy', :id => @community.id}, :confirm => "هل انت متأكد؟", :class => 'action delete') %></li>
            </td>
        <%end%>
        
      </tr>
     
  </table>
  
