<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div>
  <h2>Show Community</h2>

  <table>
    <tr>
      <th>Title</th>
      <td><%= @community.title %></td>
    </tr>
    <tr>
      <th>social_profile_info</th>
      <td><%= @community.social_profile_info %></td>
    </tr>
    <tr>
      <th>contact_info</th>
      <td><%= @community.contact_info  %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @community.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @community.updated_at %></td>
    </tr>
  </table>
  
</div>
