<%= error_messages_for(@project) %>
<table >
 	 <tr>
 		<th><%= f.label(:project_name) %></th>
 		<td><%= f.text_field(:project_name) %></td>
 	 </tr>
 	
 	 <tr>
 		<th><%= f.label(:start_date, "Start date") %> </th>
 		<td><%= f.datetime_select(:start_date, :order => [:day, :month, :year]) %></td>
 	 </tr>

 	 <tr>
 		<th><%= f.label(:end_date, "End date") %> </th>
 		<td><%= f.datetime_select(:end_date, :order => [:day, :month, :year]) %></td>
 	 </tr>

 	 <tr>
 		<th><%= f.label(:description) %></th>
 		<td><%= f.text_field(:description) %></td>
 	 </tr>
</table>

  