<dl>
	<dt><%= "الاسم " %></dt>
	<dd><%= f.text_field(:name) %></dd>

	<dt><%=  "تاريخ البداية" %> </dt>
	<dd><%= f.text_field :start_date %></dd>


	<dt><%=  "تاريخ النهاىة" %> </dt>
	<dd><%= f.text_field :end_date %></dd>


	<dt><%=  "التفاصيل " %></dt>
	<dd><%= f.text_field(:description) %></dd>

</dl>
<table>
	<tr>
	    <%= f.label :user_tokens, "إضافة أعضاء للمشروع" %><br />
		<%= f.text_field :user_tokens, "data-pre" => @project.users.map(&:attributes).to_json %>
 	</tr>
</table>

  