<%= error_messages_for(@project) %>
<table class="table table-striped" >
 	 <tr>
 		<th><%= "الاسم " %></th>
 		<td><%= f.text_field(:project_name) %></td>
 	 </tr>
 	
 	 <tr>
 		<th><%=  "تاريخ البداية" %> </th>
 		<td><%= f.datetime_select(:start_date, :order => [:day, :month, :year]) %></td>
 	 </tr>

 	 <tr>
 		<th><%=  "تاريخ النهاىة" %> </th>
 		<td><%= f.datetime_select(:end_date, :order => [:day, :month, :year]) %></td>
 	 </tr>

 	 <tr>
 		<th><%=  "التفاصيل " %></th>
 		<td><%= f.text_field(:description) %></td>
 	 </tr>
</table>

  