<div class = "project comments">
    <%= error_messages_for(@comment) %>
<% post.comments.each do |c| %>
    
       <% if isCommentCreator(current_user.id,c.id) == true %>
       <p> تعليق: <%= current_user.username %></br>
    <%= best_in_place c, :comment, :path => {:controller => 'comments', :action=>'updateCommentGroup', :id=> c.id, :post_id => :post_id, :project_id => @project.id} %>    
    <%= link_to("x", {:controller => 'comments', :action => 'destroyComment', :comment_id => c.id, :project_id => @project.id}, :confirm => 'Are you sure you want to delete this comment?', :class => 'action delete') %> </br> 
    <%else%>
     <p> تعليق: <%= current_user.username %></br>
    <%= c.comment%> </br> </p>
    <% end %>
<% end %>
  
    <%= form_for(:comment, :url => {:controller => 'comments',:action => 'createComment', :post_id => post.id, :project_id => @project.id, :user_id => current_user.id}, :html => {:id => "comment-form"}) do |f| %>
    <td><%= f.text_field (:comment), :placeholder =>"اضف تعليقك" %></td>
    <%= f.hidden_field :post_id, :value => post.id%>
    <%= f.hidden_field :user_id, :value => current_user.id %>

   
<% end %>  
</div>