<table >
  
 	  <tr >
 		<th>name</th>
 		<td><%= f.text_field(:project_name) %></td>
 	 </tr>
 	
 	 <tr >
 		<th>start date</th>
 		<td><%= f.text_field(:start_date) %></td>
 	 </tr>
 	
 	 <tr >
 		<th>end date </th>
 		<td><%= f.text_field(:end_date) %></td>
 	 </tr>
 	 <tr >
 		<th>desription</th>
 		<td><%= f.text_field(:description) %></td>
 	 </tr>
 	 
 	 <tr>
 	 	<%= f.label :user_tokens, "Users" %><br />
        <%= f.text_field :user_tokens, "data-pre" => @project.users.map(&:attributes).to_json %>
 	 </tr>

     </table>