   <div class = "comments"><%= link_to("#{post.comments.size} comments", {})%>
   <% post.comments.last(5).each do |p|%> 

   	
  <%= best_in_place p, :comment, :path => {:controller => 'comments', :action=>'updateComment', :id=> p.id, 
  	:post_id => post.id, :project_id => @project.id} %> 
        

      <%= link_to("x", {:controller => 'comments', :action => 'destroy', :id => p.id, 
	    	:post_id => post.id, :project_id => @project.id})%>
	   <br>
	  <% end %>

	   <%= form_for(:comment, :url => {:controller => 'comments',:action => 'createComment', :id => post.id, 
	   	:project_id => params[:id]}) do |e| %>
	   	<%= e.label(:comment) %>
		<%= e.text_field (:comment) %>		
		<div><%= e.hidden_field :post_id, :value => post.id %></div>		
		<button type="submit" class="btn">Comment</button>		
		<% end %>    
    </div> 
