<%= link_to("Back to list", {:action => 'list', :class => 'back link'} ) %>

<div >

    <h2>Create Projects</h2>
    <%= form_for(:project, :url => {:action => 'create'}) do |f| %>

    <table >
  
 	  <tr >
 		<th>name</th>
 		<td><%= f.text_field(:project_name) %></td>
 	 </tr>
 	
 	 <tr >
 		<th>start date</th>
 		<td><%= f.text_field(:start_date) %></td>
 	 </tr>
 	
 	 <tr >
 		<th>end date </th>
 		<td><%= f.text_field(:end_date) %></td>
 	 </tr>
 	 <tr >
 		<th>desription</th>
 		<td><%= f.text_field(:description) %></td>
 	 </tr>
 	 <tr >
 		<th>private or public</th>
 		<td><%= f.text_field(:private_or_public) %></td>
 	 </tr>
 	 <tr >
 		<th>admin or member</th>
 		<td><%= f.text_field(:admin_or_member) %></td>
 	 </tr>

 	 <p>
 	 	<%= f.label :user_tokens, "Users" %><br />
        <%= f.text_field :user_tokens %>
 	 </p>

     </table>
 	<div >
      <%= submit_tag("create project") %>
 	</div>
 	<% end %> 
    

</div>

</div>






