<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<h1 class = "title"><%= @project.name %></h1><br>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_tweet"></a>
<a class="addthis_button_pinterest_pinit"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=silencing"></script>
<!-- AddThis Button END -->
<br>
<br>
<br>
<br>

<% if loged_in? %>
     <div class ="row">  
      <div class="span2 group">
         <% if isProjectCreator(current_user.id, @project.id) || current_user.isAdmin == true%> 
           <% if Date.today < @project.end_date %>
            <span id="active"><%= link_to("إضافة مشرف", {:controller => 'project_users',:action =>'index',:id=> @project.id} , :class => 'btn span2') %></span><br><br>
            <span><%= link_to("تعديل المشروع", {:action => 'editProject', :id=> @project.id}, :class => 'btn span2') %></span><br><br>
            <span><%= link_to("الغاء المشروع", {:action => 'destroy', :id=> @project.id}, :class => 'btn span2') %></span><br><br>
          <% end %>
        <% end %>
        
        <span><%= link_to("قائمة المشاريع", {:action => 'listProjects', :class => 'back link'}, :class => 'btn span2')%></span><br><br>
        <% if Date.today < @project.end_date %>
          <span><%= link_to("ميزانية المشروع", {:controller => 'budget_items',:action => 'list', :id => @project.id},:class => 'btn span2')  %></span><br><br>
          <span><%= link_to("مهمات المشروع", {:controller =>'tasks', :action =>'listTasks',:id=> @project.id},:class => 'btn span2') %></span><br><br>
          <span><%= link_to("ألبوم ", {:controller => 'galleries' ,:action => 'show', :project_id => @project.id},:class => 'btn span2') %></span>
        <% end %> <br> <br>

        <% if loged_in? %>
      
      <% if @findMap == nil && isProjectCreator(current_user.id, @project.id)%>
         
            
            <span> <%= link_to("#",:id=>"new-item" , class: 'btn span2') do %>أضف خريطة 
                
                <% end %></span>
            <div id="item-form" class= "toggle" style="display:none; " >
            <%= form_for(:character, :url =>  {:controller =>'characters', :action =>'create', :project_id=> @project.id}) do |f|%>
            <div class="field">
                <%= "الاسم" %><br />
                <%= f.text_field :name %>
              </div>
              <div class="field">
                <%= "العنوان" %><br />
                <%= f.text_field :address %>
              </div>
                <button type="submit">أضف خريطة </button>
            <% end %>
            </div>   
      <% else %>
            <%= link_to("الخريطة ", {:controller => 'characters', :action=>'show', :id => @findMap}, :class => 'btn span2')%>
      <% end %>
<% end %>

  
<br>
</div>
<% end %>
<div class="span7 group2">
  
      <td>     
                <dl class="body" >
                
                    <dt> تاريخ البداية: <%= @project.start_date %></dt><br>
                   
               
                    <dt>تاريخ النهاية: <%= @project.end_date %></dt><br>
                
                    <dt style="text-align:justify;">تفاصيل المشروع: <%= @project.description %></dd>
            
                </dl>
             
    </td>
  </div>
 </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

 <% if current_user %>
    <%= form_for(@post, :as => :post, :url => {:controller => 'posts',:action => 'createPost', :id => params[:id], :user_id => current_user.id}, :validate=>true ) do |f| %>
    <div class="triangle-create">
      <td class="cin"><%= f.text_area (:content),:placeholder =>"أضف تعبيرك ", "cols"=> 40, "rows"=> 3 %></td>
      <%= f.hidden_field :project_id, :value => @project.id%> 
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :name, :value => current_user.username %>
      <%= f.hidden_field :is_group, :value => 'false' %>
    <span class="pull-left"><button class="btn btn-info" type="submit">نشر التعبير</button></span>
  </div>
  <% end %>
<% end %>


 <div id = "allpostsborder">
      <div id="posts">
  <%@project.posts.each do |post| %>
    <%if current_user %>
      <%if isPostCreator(current_user.id,post.id ) == true %>
        <div class="triangle-isosceles">
          <i id="edit" data-container='body' data-placement='top' data-trigger="hover" data-html="true" data-toggle="tooltip" title="انقر تعبيرك للتعديل ">
            <span id="uname" class="under pull-right"><%= post.name %></span>
            <span class="pull-left"><%= link_to("x", {:controller => 'posts', :action => 'destroyPost', :project_id => @project.id, :post_id => post.id },:confirm => 'هل أنت متأكد؟') %></span></br>
            <i id="posteach"><%= best_in_place post, :content, :path => {:controller => 'posts', :action=>'updatePost', :id=>post.id,:project_id => @project.id} %></i></br>
            <span class="pull-left"><i dir="ltr" id="time"><%= time_ago_in_words(post.created_at)%><i id="time"> ago</i></span></i>
          </i>
        </div>

      
      <%else%>

      <div class="triangle-isosceles">
        <span id="uname" class="under pull-right"><%= post.name %></span></br>
        <%= breaking_word_wrap(post.content, :line_width => 8) %> </br> 
        <span class="pull-left"><i dir="ltr" id="time"><%= time_ago_in_words(post.created_at)%><i id="time"> ago</i></span></i>
      </div>

      <%end%>

  <%else%>
      <div class="triangle-isosceles">
       <span id="uname" class="under pull-right"><%= post.name %></span></br>
        <%= breaking_word_wrap(post.content, :line_width => 8) %> </br> 
        <span class="pull-left"><i dir="ltr" id="time"><%= time_ago_in_words(post.created_at)%><i id="time"> ago</i></span></i>
      </div>
  <%end%>
      
      <%= render :partial => "listcomments", :locals => {:post => post , :position=>0} %>
<%end%>
    </div>
  </b>
</b>    
</div>



