<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <table>
      <tr>
        <td>
          <%= form_for(:project, :url =>  {:action => 'listProjects', :class => 'back link'}) do |f| %>
              <button type="submit">قائمة المشاريع</button>
           <% end %>
        </td>
        <td>
          <%= form_for(:project, :url => {:controller => 'budget_items',:action => 'list', :id => @project.id}) do |f| %>
              <button type="submit">ميزانية المشروع</button>
           <% end %>
        </td>
        <td>
          <%= form_for(:project, :url => {:action => 'editProject', :id=> @project.id}) do |f| %>
              <button type="submit">تعديل المشروع</button>
          <% end %>
        </td>
        <td>
           <%= form_for(:project, :url =>  {:controller =>'tasks', :action =>'view',:id=> @project.id}) do |f| %>
              <button type="submit">المهمات</button>
           <% end %>
        </td>
      </tr>
    </table>


<div class="project show">

<div class="aligncenter">
<h1><%= @project.name %></h1> 
</div>    

<div>
  <table class="table table-hover" >
    <tr>
      <td></i> تاريخ البداية</td>
      <td><%= @project.start_date %></td>
    </tr>   
    <tr >
      <td>تاريخ النهاية</td>
      <td><%= @project.start_date %></td>
    </tr>
    <tr >
      <td></i>تفاصيل المشروع</td>
      <td><%= @project.description %></td>
    </tr>
  </table>
</div>

  <div>

    <% if current_user %>
   <%= form_for(:post, :url => {:controller => 'posts',:action => 'createPost', :id => params[:id], :user_id => current_user.id},) do |f| %>

    <table summary = "The Post">
      <td class="cin"><%= f.text_area (:content),:placeholder =>"اضيف تعبيرك " %></td>
        <%= f.hidden_field :project_id, :value => @project.id%> 
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :name, :value => current_user.name %>
    </table> 

    <button id="bpost" class="btn btn-primary" type="submit">نشر التعبير</button>
        <% end %>
    <% end %>

 <div id = "allpostsborder">
  <p>
  <% @project.posts.each do |post| %>
  <% if current_user %>
  <% if isPostCreator(current_user.id,post.id ) == true %>
   <%= link_to("x", {:controller => 'posts', :action => 'destroyPost', :project_id => @project.id, :post_id => post.id },:confirm => 'هل انتى متأكد') %>   
      <i id="posteach"><%= best_in_place post, :content, :path => {:controller => 'posts', :action=>'updatePost', :id=>post.id,:project_id => @project.id} %></i>
      <i id="username" class="under">:<%= post.name %></i></br>
      <i dir="ltr" id="time" class="pull-left"><%= time_ago_in_words(post.created_at)%><i id="time"> ago</i></i>
  </p>
  <% end %>
  <%else%>

    <%= post.content %>  
    <i id="username" class="under">:<%= post.name %></i></br>
    <i dir="ltr" id="time" class="pull-left"><%= time_ago_in_words(post.created_at)%><i id="time"> ago</i></i>

  <%end%>

  <%= render :partial => "listcomments", :locals => {:post => post} %>
  <%end%>
    </b>
    </b>    
  </div>
  </div>
  </div>
  </div>