<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<div class="aligncenter">
    <h1><%= @project.name %></h1> 
</div> 
<div id="sidebar">
  <td>
   <div id="floatMenu">  
      <ul> 
          <% if isProjectCreator(current_user.id, @project.id)%> 
                <li><%= link_to("إضافة مشرف", {:controller => 'project_users',:action =>'index',:id=> @project.id}) %></li>
                <li><%= link_to("تعديل المشروع", {:action => 'editProject', :id=> @project.id}) %></li> 
           <% end %>  
          <li><%= link_to("قائمة المشاريع", {:action => 'listProjects', :class => 'back link'})%></li>  
          <li><%= link_to("ميزانية المشروع", {:controller => 'budget_items',:action => 'list', :id => @project.id})  %></li> 
          <li><%= link_to("مهمات المشروع", {:controller =>'tasks', :action =>'view',:id=> @project.id}) %></li>
      </ul>
    </div>     
  </td> 
 </div>

<div id="main-wrap">
  <div id="content-wrap">
    <td>  
        <div class="project show">   
          <div class="alignright">
            <table class="table table-striped">
              <tr>
                <th><div id = "addMargin1"> تاريخ البداية</div></th>
                <th><div id = "addMargin"><%= @project.start_date %></div></th>
              </tr>   
              <tr >
                <th><div id = "addMargin1">تاريخ النهاية</div></th>
                <th><div id = "addMargin"><%= @project.start_date %></div></th>
              </tr>
              <tr >
                <th><div id = "addMargin1">تفاصيل المشروع</div></th>
                <th><div id = "addMargin"><%= @project.description %></div></th>
              </tr>
            </table>
          </div>
      </td>
  </div>
</div>

