<%= link_to("Back to list", {:action => 'list', :class => 'back link'} ) %>

<div class="project show">

    <h2>Show Projects</h2>
	<table summary="Project detail view">
  
 	 <tr >
 		<th>name</th>
 		<td><%= @project.project_name %></td>
 	 </tr>
 	
 	 <tr >
 		<th>start date</th>
 		<td><%= @project.start_date %></td>
 	 </tr>
 	
 	 <tr >
 		<th>end date</th>
 		<td><%= @project.start_date %></td>
 	 </tr>

 	 <tr >
 		<th>description</th>
 		<td><%= @project.description %></td>
 	 </tr>

 	
    </table>


    <h3>Posts</h3>

    <table>
  
 	 <% @project.posts.each do |post| %>
    <tr>
     <td> <%= post.content %></td>
     <td><%= post.comments.each do |p|%>
      <%= p.comment %>
      <%end%>
     </td>
      </tr>

      
      <% end %>
      </table>



    
	    <div class="post new">
		<%= form_for(:post, :url => {:controller => 'posts',:action => 'createPost', :id => params[:id]}) do |f| %>
		<table summary = "The Post">		
		<tr>
			<th>Post Content</th>
			<td><%= f.text_field (:content) %></td>
		</tr>
		<tr>
			<td><%= f.hidden_field :project_id, :value => @project_id %></td>		
		</tr>
	</table>
	<div class="form-buttons">
		<%= submit_tag("Create Post") %>
	</div>
	<% end %>
</div>


</div>