<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<br>
<br>
<h1 class = "aligncenter"><%= @project.name %></h1>
<br>
<br>
<br>
<br>
<div class = "aligncenter">
  <div id="navcontainer">
  <ul id="navlist">
       <% if isProjectCreator(current_user.id, @project.id)%> 
        <li id="active"><%= link_to("إضافة مشرف", {:controller => 'project_users',:action =>'index',:id=> @project.id}) %></li>
        <li><%= link_to("تعديل المشروع", {:action => 'editProject', :id=> @project.id}) %></li>
      <% end %>
      <li><%= link_to("قائمة المشاريع", {:action => 'listProjects', :class => 'back link'})%></li>
      <% if Date.today < @project.end_date %>
        <li><%= link_to("ميزانية المشروع", {:controller => 'budget_items',:action => 'list', :id => @project.id})  %></li>
        <li><%= link_to("مهمات المشروع", {:controller =>'tasks', :action =>'listTasks',:id=> @project.id}) %></li>
      <% end %>
  </ul>
  </div>
</div>
<br>
<div id="main-wrap">
  <div id="content-wrap">
    <td>  
        <div class="project show">   
          <div class="aligncenter">
             <div class = "body">
            <table class="table" >
             <div class = "addColor">
              <tr>
                <th><div> تاريخ البداية</div></th>
                <th><div id = "addMargin" class = "alignleft"><%= @project.start_date %></div></th>
              </tr>   
              <tr >
                <th><div>تاريخ النهاية</div></th>
                <th><div  id = "addMargin"><%= @project.end_date %></div></th>
              </tr>
              <tr >
                <th><div>تفاصيل المشروع</div></th>
                <th><div id = "addMargin"><%= @project.description %></div></th>
              </tr>
              </div>
            </table>
            </div>
          </div>
      </td>
  </div>
</div>

