    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <table>
      <tr>
        <td>
          <%= form_for(:project, :url =>  {:action => 'listProjects', :class => 'back link'}) do |f| %>
              <button type="submit">قائمة المشاريع</button>
           <% end %>
        </td>
        <td>
          <%= form_for(:project, :url => {:controller => 'budget_items',:action => 'list', :id => @project.id}) do |f| %>
              <button type="submit">ميزانية المشروع</button>
           <% end %>
        </td>
        <td>
          <%= form_for(:project, :url => {:action => 'editProject', :id=> @project.id}) do |f| %>
              <button type="submit">تعديل المشروع</button>
          <% end %>
        </td>
        <td>
           <%= form_for(:project, :url =>  {:controller =>'tasks', :action =>'view',:id=> @project.id}) do |f| %>
              <button type="submit">المهمات</button>
           <% end %>
        </td>
      </tr>
    </table>



<div class="aligncenter">
<h1><%= @project.name %></h1> 
</div>    
<div class="alignright">
  <table class="table table-hover" align="right">
  	<tr>
      <td></i> تاريخ البداية</td>
   		<td><%= @project.start_date %></td>
 	  </tr> 	
 	  <tr >
      <td>تاريخ النهاية</td>
   		<td><%= @project.start_date %></td>
 	  </tr>
  	<tr >
      <td></i>تفاصيل المشروع</td>
      <td><%= @project.description %></td>
    </tr>
 	</table>
</div>

<div>
  <% if ifMember(params[:id],current_user.id)==true %>
   <%= form_for(:post, :url => {:controller => 'posts',:action => 'createPostGroup', :id => params[:id], :user_id => current_user.id}) do |f| %>
    <table summary = "The Post">
     
      <td ><%= f.text_field (:content),:placeholder =>"اضيف تعبيرك " %></td>
        <%= f.hidden_field :group_id, :value => @group_id%> 
        <%= f.hidden_field :user_id, :value => current_user.id %>
      
    </table> 
  <div class="form-buttons">
 
  </div>
  <%end%>
<div>
<div id = "allpostsborder">
 <% @group.posts.each do |post| %>
      <b id = "postaya">
  <% if isPostCreator(current_user.id,post.id ) == true %>
      <%= best_in_place post, :content, :path => {:controller => 'posts', :action=>'updatePostGroup', :id=>post.id,:group_id => @group.id} %>
    <%= link_to("x", {:controller => 'posts', :action => 'destroyPost', :group_id => @group.id, :post_id => post.id },:confirm => 'هل انتى متأكد') %> </br>
      <b>
  <%else%>
      <p> التعبير:
        <%= post.content %>
      </p>
  <%end%>
    <%= render :partial => "listcomments", :locals => {:post => post} %>
  <%end%>
    </b>
    </b>    
  </div>

  <%end%>
  </div>
  </div>
  </div>