<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<div class="project show">
 <h1 class = "aligncenter"><%= @project.name %></h1>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_tweet"></a>
<a class="addthis_button_pinterest_pinit"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=silencing"></script>
<!-- AddThis Button END -->
<br>
<br>
<br>
<div class = "aligncenter">
  <div id="navcontainer">
  <ul id="navlist">
    
       <% if isProjectCreator(current_user.id, @project.id)%> 
         <% if Date.today < @project.end_date %>
          <li id="active"><%= link_to("إضافة مشرف", {:controller => 'project_users',:action =>'index',:id=> @project.id}) %></li>
          <li><%= link_to("تعديل المشروع", {:action => 'editProject', :id=> @project.id}) %></li>
        <% end %>
      <% end %>
      
      <li><%= link_to("قائمة المشاريع", {:action => 'listProjects', :class => 'back link'})%></li>
      <% if Date.today < @project.end_date %>
        <li><%= link_to("ميزانية المشروع", {:controller => 'budget_items',:action => 'list', :id => @project.id})  %></li>
        <li><%= link_to("مهمات المشروع", {:controller =>'tasks', :action =>'listTasks',:id=> @project.id}) %></li>
      <% end %>
  </ul>
  </div>
</div>
<td>  
  <table class="table" >
    <div class = "addColor">
      <tr>
        <th><div> تاريخ البداية</div></th>
        <th><div id = "addMargin" class = "alignleft"><%= @project.start_date %></div></th>
      </tr> 
      <tr>
        <th><div>تاريخ النهاية</div></th>
        <th><div  id = "addMargin"><%= @project.end_date %></div></th>
      </tr>
      <tr >
        <th><div>تفاصيل المشروع</div></th>
        <th><div id = "addMargin"><%= @project.description %></div></th>
      </tr>
    </div>
  </table>
</td>
  <div>
    <% if current_user %>
    <%= form_for(@post, :as => :post, :url => {:controller => 'posts',:action => 'createPost', :id => params[:id], :user_id => current_user.id}, :validate=>true ) do |f| %>
    <div class="triangle-create">
      <td class="cin"><%= f.text_area (:content),:placeholder =>"أضف تعبيرك ", "cols"=> 40, "rows"=> 3 %></td>
      <%= f.hidden_field :project_id, :value => @project.id%> 
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :name, :value => current_user.username %>
      <%= f.hidden_field :is_group, :value => 'false' %>
    </table> 
    <span class="pull-left"><button class="btn btn-info" type="submit">نشر التعبير</button></span>
  </div>
  <% end %>
  <% end %>
  <div id = "allpostsborder">
    <p>
      <div id="posts">
        <%@project.posts.each do |post| %>
        <%if current_user %>
        <%if isPostCreator(current_user.id,post.id ) == true %>
        <div class="triangle-isosceles">
          <i id="edit" data-container='body' data-placement='top' data-trigger="hover" data-html="true" data-toggle="tooltip" title="انقر تعبيرك للتعديل ">
            <span id="uname" class="under pull-right"><%= post.name %></span>
            <span class="pull-left"><%= link_to("x", {:controller => 'posts', :action => 'destroyPost', :project_id => @project.id, :post_id => post.id },:confirm => 'هل أنت متأكد؟') %></span></br>
            <i id="posteach"><%= best_in_place post, :content, :path => {:controller => 'posts', :action=>'updatePost', :id=>post.id,:project_id => @project.id} %></i></br>
            <span class="pull-left"><i dir="ltr" id="time"><%= time_ago_in_words(post.created_at)%><i id="time"> ago</i></span></i>
          </i>
        </div>
      </p>
      <%else%>
      <div class="triangle-isosceles">
        <span id="uname" class="under pull-right"><%= post.name %></span></br>
        <%= breaking_word_wrap(post.content, :line_width => 8) %> </br> 
        <span class="pull-left"><i dir="ltr" id="time"><%= time_ago_in_words(post.created_at)%><i id="time"> ago</i></span></i>
      </div>
      <%end%>
      <%else%>
      <div class="triangle-isosceles">
       <span id="uname" class="under pull-right"><%= post.name %></span></br>
        <%= breaking_word_wrap(post.content, :line_width => 8) %> </br> 
        <span class="pull-left"><i dir="ltr" id="time"><%= time_ago_in_words(post.created_at)%><i id="time"> ago</i></span></i>
        <%end%>
      </div>
      <%= render :partial => "listcomments", :locals => {:post => post , :position=>0} %>
      <%end%>
    </div>
  </b>
</b>    
</div>
</div>
</div>
</div>
<br>

