<%= link_to("Back to list", {:action => 'list', :class => 'back link'} ) %>

<div class="project show">
 <h1><%= @project.project_name %></h1>     
	<table class="table">
  	 <tr class="success">
 		<td>start date</td>
 		<td><%= @project.start_date %></td>
 	 </tr>
 	
 	 <tr class="error">
 		<td>end date</td>
 		<td><%= @project.start_date %></td>
 	 </tr>
 	 <tr class="success">
 		<td>description</td>
 		<td><%= @project.description %></td>
 	 </tr> 	
    </table>
<div id = "tablePosts"><%= render 'table' %></div>


</div>