<%= link_to("Back to list", {:action => 'list', :class => 'back link'} ) %>

<div class="project show">

    <h2>Show Projects</h2>
	<table summary="Project detail view">
  
 	 <tr >
 		<th>name</th>
 		<td><%= @project.project_name %></td>
 	 </tr>
 	
 	 <tr >
 		<th>start date</th>
 		<td><%= @project.start_date %></td>
 	 </tr>
 	
 	 <tr >
 		<th>end date</th>
 		<td><%= @project.start_date %></td>
 	 </tr>

 	 <tr >
 		<th>description</th>
 		<td><%= @project.description %></td>
 	 </tr>

 	 <!-- <tr >
 		<th>public or private</th>
 		<td><%= @project.private_or_public %></td>
 	 </tr>
 	 <tr >
 		<th>admin or member</th>
 		<td><%= @project.admin_or_member %></td>
 	 </tr> -->
 	
    </table>


    <h3>Posts</h3>

    <table>
  <!-- 
 	 <tr >
 		<th>Post</th>
 	 </tr>
 -->
 	 <% @postsList.each do |post| %>
    <tr>
     <td> <%= post.content %></td>
      </tr>

      <%= form_for(:comment, :url => {:controller => 'posts',:action => 'getComment', :id => @post_id}) do |f| %>
      		<tr>
			<td><%= f.hidden_field :post_id, :value => @post_id %></td>
			</tr>
      <% end %>



      	<%= form_for(:comment, :url => {:controller => 'comments',:action => 'createComment'}) do |f| %>
	    <table summary = "The Comment">
		<tr>			
			<td><%= f.text_field (:comment) %></td>
		</tr>
		<tr>
			<td><%= f.hidden_field :post_id, :value => @post_id %></td>
		</tr>

	    </table>
		<div class="form-buttons">
			<%= submit_tag("Create Comment") %>
		</div>
	    <% end %>
	 	<% end %>
	    </table>



    
	    <div class="post new">
		<%= form_for(:post, :url => {:controller => 'posts',:action => 'createPost', :id => params[:id]}) do |f| %>
		<table summary = "The Post">		
		<tr>
			<th>Post Content</th>
			<td><%= f.text_field (:content) %></td>
		</tr>
		<tr>
			<td><%= f.hidden_field :project_id, :value => @project_id %></td>
		<!-- 	@project_id = "@project_id" -->
		</tr>
	</table>
	<div class="form-buttons">
		<%= submit_tag("Create Post") %>
	</div>
	<% end %>
</div>


</div>