<%= link_to("Back to list", {:action => 'list', :class => 'back link'} ) %>

<div class="project show">

    <h2>Show Projects</h2>

    <table summary="Project detail view">
  
 	 <tr >
 		<th>name</th>
 		<td><%= @project.name %></td>
 	 </tr>
 	
 	 <tr >
 		<th>start date</th>
 		<td><%= @project.start_date %></td>
 	 </tr>
 	
 	 <tr >
 		<th>end date</th>
 		<td><%= @project.start_date %></td>
 	 </tr>

 	 <tr >
 		<th>description</th>
 		<td><%= @project.description %></td>
 	 </tr>

    </table>
</br>
    <td><%= link_to("view all budget items",:controller=>'budget_items',:action=>'viewAllBI', :id=> @project.id) %></td>
    <td><%= link_to("view operational",:controller=>'budget_items',:action=>'viewoperationalBI', :id=> @project.id) %></td>
</div>