    <%= link_to("الرجوع للقائمة", {:action => 'listProjects', :class => 'back link'} ) %>
     <%= link_to("budget", {:controller => 'budget_items',:action => 'list', :id => @project.id    } ) %>

    <td class="actions">
		<%= link_to("تعديل المشروع", {:action => 'editProject', :id=> @project_id}, 
		:class => 'action edit')%>
	</td>

<div class="project show">
  <h1><%= @project.name %></h1>     
  <table class="table">
  	<tr class="success">
 		<td>تاريخ البداية</td>
 		<td><%= @project.start_date %></td>
 	</tr> 	
 	<tr class="error">
 		<td>تاريخ النهاية</td>
 		<td><%= @project.start_date %></td>
 	</tr>
 	<tr class="success">
 		<td>التفاصيل</td>
    </tr>
 	</table>
 	<div id = "tablePosts"><%= render 'table' %></div>
</div>