<table>
<tr>
<th><%= f.label(:Name) %></th>
<td><%= f.text_field(:name)%></td>
</tr>
</br>
<tr>
<td> <%= f.hidden_field(:status)%></td>
</tr>
<tr>
<td><%= f.check_box(:operational)%></td>
<th><%= f.label("Operational") %></th>
</tr>
</br>

  <tr id = "connect" >
  <th><%= f.label(:task_id, "Task:")%></th>
  <td><%= f.select(:task_id, @tasks.collect {|i| [i.title,i.id]},{:include_blank => true} ,:id=>"drop-down") %></td>
  </tr>
<tr> 
<td><%= f.hidden_field :project_id , :value=> @project %></td>
</tr>
</table>