<table>
<tr>
<th><%= f.label(:Name , "الاسم") %></th>
<td><%= f.text_field(:name)%></td>
</tr>
</br>
<tr>
<td> <%= f.hidden_field(:status)%></td>
</tr>
<tr>
<td><%= f.radio_button(:operational , 1)%></td>
<th><%= f.label("Operational") %></th>
</tr>
<tr>
<td><%= f.radio_button(:operational , 0)%></td>
<th><%= f.label("NON Operational") %></th>
</tr>
</br>
<!-- <tr>
 <input type="checkbox" id="check" name="vehicle" value="Bike">Connect to a task<br>
 </tr> -->

  <tr id = "connect" >
  <th><%= f.label(:task_id, "Task:")%></th>
  <td><%= f.select(:task_id, @tasks.collect {|i| [i.title,i.id]},{:include_blank => true} ,:id=>"drop-down") %></td>
  </tr>

<tr> 
<td><%= f.hidden_field :project_id , :value=> @project %></td>
</tr>
</table>