<meta http-equiv="Content-Type" content="text/html;char=UTF-8">
<table>
	<tr>
		<th><%= f.label(:Name , "الاسم") %></th>
		<td><%= f.text_field(:name)%></td>
	</tr>
	</br>
	<tr>
		<td><%= f.radio_button(:operational , 1)%></td>
		<th><%= f.label("تشغيلية") %></th>
	</tr>
	<tr>
		<td><%= f.radio_button(:operational , 0)%></td>
		<th><%= f.label("ليست تشغيلية") %></th>
	</tr>
	</br>
  	<tr id = "connect" >
  		<th><%= f.label(:task_id, "المهمة")%></th>
  		<td><%= f.select(:task_id, @tasks.collect {|i| [i.title,i.id]},{:include_blank => true} ,:id=>"drop-down") %></td>
  	</tr>
	<tr> 
		<td><%= f.hidden_field :project_id , :value=> @project %></td>
	</tr>
</table>