<%= render(:partial => 'shared/error_messages' , :locals => {:object => @budget_item}) %>

<br>
<br>
<br>

<div class = "offset2">

<div> 
<h2>تعديل عنصر الميزنية</h2>
<%= form_for(:budget_item, :url=>{:action=>'update' , :item => @budget_item.id , :id => @project , :task_id=>@task_id }) do |f| %>
<table>
	<tr>
		<th><%= f.label(:Name ,"إسم") %></th>
			<td><%= f.text_field(:name)%></td>
	</tr>
</br>
	<tr>
		<th><%= f.label(:Operational ,"تشغيل")%></th>
	    <td><%= f.check_box(:operational)%></td>
	</tr>
</br>
    <tr id = "connect" >
  		<th><%= f.label(:task_id, "المهمة")%></th>
  		<td><%= f.select(:task_id, @tasks.collect {|i| [i.title,i.id]},{:include_blank => true} ,:id=>"drop-down") %></td>
    </tr>

</table>
</br>
	<p>
		<td><%= f.submit ("تسجيل") %></td>
	</p>
<% end %>
</div>


