<!-- 
<div class="subject edit">
	<%= form_for(:budget_item, :url=>{:action=>'update', :id=> @item.id}) do |f| %>
<div id ="table">  <table summary = "subject form fields">
<tr>
	<th><%= f.label(:name, "Name:")%></th>
	<td><%= f.text_field(:name) %></td>
</tr>

<tr>	
	<td><%= f.hidden_field :total , :value=>@item %></td>
</tr>

<tr>
	<td><%= f.hidden_field :budget_id, :value%></td>
</tr>


	</table> 
</div> 
	<div><%= submit_tag("Save Item")%></div>

<% end %>

</div>  -->