<%= render(:partial => 'shared/error_messages' , :locals => {:object => @budget_item}) %>

<br>
<br>
<div class = "offset2">

<div> 
<h2 class='title'>تعديل عنصر الميزنية</h2>
<%= form_for( @budget_item , :as=>:budget_item, :url=>{:action=>'update' , :item => @budget_item.id , :id => @project , :task_id=>@task_id } , :validate => true) do |f| %>
<br>
<br>
<br>
<br>
<table class='table body'>
	<tr>
		<th><%= f.label(:Name ,"إسم") %></th>
			<td><%= f.text_field(:name)%></td>
	</tr>
</br>
	<tr>
		<th><%= f.label(:Operational ,"تشغيل")%></th>
	    <td class ="checkbox inline"><%= f.check_box(:operational)%></td>
	</tr>
</br>
    <tr id = "connect" >
  		<th><%= f.label(:task_id, "المهمة")%></th>
  		<td><%= f.select(:task_id, @tasks.collect {|i| [i.title,i.id]},{:include_blank => true} ,:id=>"drop-down") %></td>
    </tr>

</table>
</br>
	<p class='btn btn-small'>
		<%= f.submit ("تسجيل") %>
	</p>
<% end %>
</div>


