<div class="style">
<% @page_title="Budget Item"%><%= link_to("رجوع الى المشروع", {:controller=>'projects',:action => 'show', :id=>params[:project_id],:class =>'pull-left'} ) %>

<fieldset>
	
<h2>الميزانية<%= @total_budget %></h2> 
<h6><i class="icon-tint"></i>اجمالى المدفوع: <%= @total_spent %></h6>

<h6><i class="icon-tint"></i>الاموال المجموعة: <%= @raised %></h6>
</fieldset>
</form>
<% if loged_in? %>
<% if isProjectCreator(@current_user,@project.id)%>
<h4> <%= link_to("#",:id=>"new-item" , class: "btn btn-success") do %>
    <i class="icon-plus icon-white"></i> 
    <% end %>  العناصر</h4>
<% if @items.blank? %>
<p> لا يوجد عناصر ميزانية حاليا</p>
<% end %>
<div id="item-form" style="display:none;" >
<%= form_for(:budget_item, :url=>{:action=>'create' , :id => params[:id] }) do |f| %>
	<%= render(:partial=>'budget', :locals=>{:f=>f}) %>
	<td><%= f.submit("حفظ") %></td>
<% end %>
<% end %>
<% end %>
</div>
	<%= render 'viewAllBI', :locals => {'@items' => @items} %>
</div>