<div class="subject new">
	<h2>CREATE SUBJECT</h2>
	<%= form_for(:budget_item, :url=>{:action=>'create'}) do |f| %>
	
     <table summary = "subject form fields">

    <tr>
	  <th><%= f.label(:task_id, "Task:")%></th>
	  <td><%= f.select(:task_id, @tasks.collect {|i| [i.title,i.id] }) %></td>
    </tr>

	</table>


	<div><%= submit_tag("Create Subject")%></div>
<% end %>

</div>


<table class=" table  " summary="Subject List">
<tr class="header">
	<th>&nbsp;</th>
	<th>Task</th>
</tr>
<% @tasks.each do |task|%>
<tr>
	<td>Title: <%=task.title%></td>
	<td>Project ID:<%=task.project_id%></td>
	<td>ID:<%=task.id%></td>
</tr>
<%end%>
	</table>