
﻿<%= render(:partial => 'shared/error_messages' , :locals => {:object => @budget_item}) %>
<div> 
<h2 class ="title">إنشاء عنصر مزانية</h2>
 	<%= form_for(@budget_item , :as=>:budget_item, :url=>{:action=>'create' , :id => @project } , :validate => true) do |f| %>
 	<br>
 	<br>
 	<br>
 	<br>
 	<br>
 	<br>
<dlclass='table body'>
	
		<dt><%= f.label(:Name , "إسم") %></dt>
		<dd><%= f.text_field(:name)%></dd>
	
	
		<dt><%= f.label("تشغيل") %></dt>
		<dd class ="checkbox inline"><%= f.check_box(:operational)%></dd>


   		<dt><%= f.label(:task_id, "المهمة")%></dt>
  		<dd><%= f.select(:task_id, @tasks.collect {|i| [i.title,i.id]},{:include_blank => true} ,:id=>"drop-down") %></dd>
    

		<%= f.hidden_field :project_id , :value=> @project %>	
</dl>
	<p class='btn btn-small'>
		<%= f.submit("تسجيل") %>
	</p>
<% end %>

</div>

	
