<%= stylesheet_link_tag 'application' %>
<head>
 <title>Operational Budget Items</title>
 <%= stylesheet_link_tag    "application", :media => "all" %>
 <%= javascript_include_tag "application" %>
 <%= csrf_meta_tags %>
 <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>

<body>
<h2>اسم المشروع <%= @project.name %></h2>
<% if @budget_items.blank? %>
	<p>ليس لديك أي عناصر حاليا</p>
<% else %>
	<p>عناصر الميزانية الحالية هي </p>
<% end %>
</br>

<table class="table">
 	<tr>
 		<th>اسم عنصر الميزانية </th>
 		<th>مجموع العنصر الميزانية</th>
 		<th>ما الذي تم صرفه</th>
 	</tr>

 	<% @budget_items.each do |budgetitem| %>
	<tr id = "budget_item">
 		<td><%= budgetitem.name %></td>
 		<td><%= budgetitem.total %></td>
 		<td><%= budgetitem.spent %></td>
 	</tr>
 	<% end %>
</table>
</body>